@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?udccjc');
  src:  url('../fonts/icomoon.eot?udccjc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?udccjc') format('truetype'),
    url('../fonts/icomoon.woff?udccjc') format('woff'),
    url('../fonts/icomoon.svg?udccjc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e036";
}
.icon-trash:before {
  content: "\e900";
}
.icon-location-outline:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e902";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-view_headline:before {
  content: "\e8ee";
}
.icon-server:before {
  content: "\e022";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-check:before {
  content: "\e116";
}

