/** color **/
$white: #fff;
$blue: #0582c8;
$red: #e6000f;
$black: #4a4a4a;
$lightGray: #f4f4f4;
$darkGray: #ddd;
/** shape **/
.border-radius{
    border-radius: 5px;
}
.to-more:after{
    float: right;
    content: '\e315';
    font-family: 'icomoon';
    font-size: 18px;
}
/** common **/
html,body{
    margin: 0px;
    padding: 0px;
    line-height: 28px;
    background-color: $white;
    font-family: "微软雅黑";
    font-size: 14px;
}
*{
    box-sizing: border-box;
}
a,a:link,a:active,a:visited{
    color: $black;
    text-decoration: none;
}
ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
a,input,select,textarea,button,img{
    border: none;
    outline: none;
    vertical-align: middle;
}
/** layout **/
.top-menu{
    height: 42px;
    line-height: 42px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 5;
    background-color: $white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    h2{
        text-align: center;
    }
    .position-left{
        position: absolute;
        left: 5px;
        display: inline-block;
    }
    .position-right{
        position: absolute;
        right: 5px;
        display: inline-block;
    }
    .icon{
        font-size: 28px;
        margin: 7px 0;
    }
}
.wrap{
    margin-top: 42px;
}
/** page **/
.integral-mall{
    .banner{
        img{
            width: 100%;
        }
    }
    .total{
        padding: 0px 10px;
        line-height: 32px;
        span{
            color: $blue;
        }
    }
}
