<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="skin/images/favicon.ico">
	<title>Angular测试</title>
	<script src="https://jic.talkingdata.com/app/h5/v1?appid=2AD9EC00BD09FF4A4AC9BCFCDCB50095&vn=development&vc=v1.0"></script>
	<script type="text/javascript" src="js/hmc_common.js"></script>
	<script type="text/javascript" src="js/lib/jquery.js"></script>
	<script type="text/javascript" src="js/lib/dropload.js"></script>
	<script type="text/javascript" src="js/lib/crypt.js"></script>
	<script type="text/javascript" src="js/lib/wxmoment.min.js"></script>
	<script type="text/javascript" src="js/lib/hammer.js"></script>
	<script type="text/javascript" src="js/lib/snap.svg.js"></script>
	<script type="text/javascript" src="js/lib/angular.js"></script>
	<script type="text/javascript" src="js/lib/angular-resource.js"></script>
	<script type="text/javascript" src="js/lib/angular-route.js"></script>
	<script type="text/javascript" src="js/lib/angular-animate.js"></script>
	<script type="text/javascript" src="js/lib/angular.hammer.js"></script>
	<script type="text/javascript" src="js/lib/lodash.js"></script>
	<script type="text/javascript" src="js/lib/restangular.js"></script>
	<script type="text/javascript" src="js/chinaData.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/controller/healthyManageCtrl.js"></script>
	<script type="text/javascript" src="js/controller/homeCtrl.js"></script>
	<script type="text/javascript" src="js/controller/healthyTroubleCtrl.js"></script>
	<script type="text/javascript" src="js/controller/healthyTroubleTypeCtrl.js"></script>
	<script type="text/javascript" src="js/controller/healthyTroubleArtcleCtrl.js"></script>
	<script type="text/javascript" src="js/controller/healthyTaskCtrl.js"></script>
	<script type="text/javascript" src="js/controller/healthyAssessmentCtrl.js"></script>
	<script type="text/javascript" src="js/controller/healthyAssessmentCtrl_bak.js"></script>
	<script type="text/javascript" src="js/controller/myHealthyCtrl.js"></script>
	<script type="text/javascript" src="js/controller/myCommunityCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/createJogGroupCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/joggersTopCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/jogGroupCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/jogGroupDetailCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/jogGroupMemberCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/jogGroupTopCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/joinJogGroupCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/moreJogGroupCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/searchJogGroupCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/selectLeaderCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/message/friendApplyMessageCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/message/groupPkMessageCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/message/jogGroupMessageCtrl.js"></script>
	<script type="text/javascript" src="js/controller/jog/message/messagePortalCtrl.js"></script>
	<!-- plugin start -->
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.core.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.frame.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.scroller.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.util.datetime.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.datetimebase.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.datetime.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.select.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.listbase.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.treelist.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/mobiscroll.frame.ios.js"></script>
	<script type="text/javascript" src="js/plugin/mobiscroll/js/i18n/mobiscroll.i18n.zh.js"></script>
	<link type="text/css" href="js/plugin/mobiscroll/css/mobiscroll.animation.css" rel="stylesheet"/>
	<link type="text/css" href="js/plugin/mobiscroll/css/mobiscroll.frame.css" rel="stylesheet"/>
	<link type="text/css" href="js/plugin/mobiscroll/css/mobiscroll.frame.ios.css" rel="stylesheet"/>
	<link type="text/css" href="js/plugin/mobiscroll/css/mobiscroll.scroller.css" rel="stylesheet"/>
	<link type="text/css" href="js/plugin/mobiscroll/css/mobiscroll.scroller.android.css" rel="stylesheet"/>
	<link type="text/css" href="js/plugin/mobiscroll/css/mobiscroll.scroller.ios.css" rel="stylesheet"/>
	<!-- plugin end -->
	<link type="text/css" href="skin/css/dropload.css" rel="stylesheet"/>
	<link type="text/css" href="skin/css/font-style.css" rel="stylesheet"/>
	<link type="text/css" href="skin/css/index.css" rel="stylesheet"/>
	<link type="text/css" href="skin/css/jog.css" rel="stylesheet"/>
</head>
<body>
<div ng-if="form.showTopBar" class="topbar">
	<span ng-if="form.showLeftBack" ng-click="form.backFn();" class="back"></span>
	<h2>{{form.topBarTitle}}</h2>
</div>
<div ng-view ng-class="form.showTopBar ? 'slide-in container' : 'slide-in container noMarginTop'"></div>
<div ng-if="form.showLoading" ng-include src="'template/loading.html'" class="loading"></div>
<div ng-if="form.showTips" class="tips-animation tips-box">{{form.tipsTitle}}</div>
</body>
</html>