<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="assets/images/design/favicon.ico">
	<title>积分商城</title>
</head>
<body>
<header class="top-menu" ng-show="form.topBar.showTopBar">
	<span class="position-left" ng-class="form.topBar.leftBtnType" ng-if="form.topBar.showLeftBtn" ng-click="form.leftBtnClick();"></span>
	<h2>{{form.topBar.topBarTitle}}</h2>
    <span class="position-right" ng-class="form.topBar.rightBtnType"  ng-if="form.topBar.showRightBtn" ng-click="form.rightBtnClick();"></span>
</header>
<div ng-view class="wrap"></div>
<div ng-if="form.loading.show" class="loading" ng-class="form.loading.isHttp?'loading-http':''">
    <img src="assets/images/design/loading.gif" alt="{{form.loading.message}}">
</div>
</body>
</html>