<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="skin/images/favicon.ico">
	<title>积分商城</title>
</head>
<body>
<!--
<div ng-if="form.showTopBar" class="topbar">
	<span ng-if="form.showLeftBack" ng-click="form.backFn();" class="back"></span>
	<h2>{{form.topBarTitle}}</h2>
</div>
<div ng-view ng-class="form.showTopBar ? 'slide-in container' : 'slide-in container noMarginTop'"></div>
<div ng-if="form.showLoading" ng-include src="'template/loading.html'" class="loading"></div>
<div ng-if="form.showTips" class="tips-animation tips-box">{{form.tipsTitle}}</div>
-->
<div ng-view></div>
</body>
</html>