html,body{
	margin: 0px;
	padding: 0px;
	line-height: 28px;
	background-color: #f0f0f0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: "微软雅黑";
	font-size: 14px;
}
*{
	box-sizing: border-box;
}
a,a:link,a:active,a:visited{
	color: #0071e4;
	text-decoration: none;
}
ul,li,p{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.hide{
	display: none;
}
.ipt{
	width: 100%;
	outline: none;
	border: 1px solid #0074e1;
	border-radius: 5px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	padding: 0px 10px;
	color: #0071e4;
}
.ipt-left{
	width: 47%;
	margin-right: 6%;
}
.ipt-right{
	width: 47%;
	float: right;
}
.btn{
	display: inline-block;
	padding: 8px 0;
	width: 100%;
	border: 1px solid #0061bc;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	font-size: 16px;
	color: #0061bc;
}
.btn-primary,
.btn-primary:active{
	color: #fff;
	border: 1px solid #0061bc;
	background-color: #0074e1;
}
.btn-disabled,
.btn-disabled:active{
	color: #fff;
	border: 1px solid #acacac;
	background-color: #acacac;
}
.btn-area{
	padding: 20px 10px;
}
.topbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 12;
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 1px 5px 0px #b3b3b3;
}
.topbar .back{
	position: absolute;
	left: 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 12px;
	background-image: url('../images/back_button.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	cursor: pointer;
}
.topbar h2{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.container.noMarginTop{
	top: 0px;
}
.container{
	position: absolute;
	top: 48px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	/*margin: 10px;*/
	border-radius: 5px;
	background-color: #fff;
	overflow: auto;
}
@keyframes showView{
	0%{
		opacity: 0.5;
		left: 100%;
		right: -100%;
	}
	80%{
		left: 10px;
		right: -10px;
	}
	96%{
		left: 2px;
		right: -2px;
	}
	100%{
		opacity: 1;
		left: 0px;
		right: 0px;
	}
}
@keyframes hideView{
	0%{
		left: 0px;
		right: 0px;
	}
	100%{
		left: -100%;
		right: 100%;
	}
}
.slide-in.ng-enter{
	animation: showView 0.8s ease-in-out;
}
.slide-in.ng-leave{
	position: absolute;
	animation: hideView 0.8s ease-in-out;
	opacity: 0.8;
	zIndex: 9;
}
/*modal start*/
.modal{
	display: table;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.modal .btn{
	width: 48%;
}
.modal .btn:last-child{
	float: right;
}
.modal-dialog{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.modal-content{
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #fff;
}
.modal-header{
	height: 38px;
	line-height: 38px;
	padding: 0px 15px;
}
.modal-header h2{
	display: inline-block;
	margin: 0px;
	line-height: 38px;
	font-size: 18px;
	font-weight: normal;
}
.modal-header .close{
	float: right;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 7px 0px;
	background-image: url(../images/close_button.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.modal-body{
	padding: 15px;
	overflow: auto;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}
.modal-footer{
	padding:5px 15px 15px;
}
/*modal end*/
/*home start*/
.home h1{
	margin: 0px;
	padding: 0px;
	line-height: 38px;
	font-size: 24px;
	text-align: center;
}
.home .menu{
	padding: 10px;
}
.home .btn{
	display: inline-block;
	width: 30%;
	margin-bottom: 10px;
	margin-left: 5%;
	outline: none;
	border: none;
	border-radius: 5px;
	text-align: center;
	line-height:28px;
	background-color: #666;
	color: #fff;
	cursor: pointer;
}
.home .btn:nth-child(3n+1){
	margin-left: 0px;
}
.home .btn:hover{
	background-color: #333;
}
.home .btn:active{
	background-color: #000;
}
.image-container{
	padding: 10px;
}
.image-container .image-item{
	display: inline-block;
	width: 30%;
	margin-bottom: 10px;
	margin-left: 5%;
}
.image-container .image-item:nth-child(3n+1){
	margin-left: 0px;
}
.image-container .image-item  img{
	width: 100%;
	border-radius: 5px;
	border: none;
	outline: none;
}
/*home end*/
/*healthy manage start*/
.widget-box{}
.widget-title{
	line-height: 38px;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
	color: #0071e4;
	cursor: pointer;
}
.widget-content{}
.widget-content li{
	padding: 0px 10px;
	border-bottom: 1px dotted #ccc;
	background-color: #fafafa;
}
.widget-content ul li:last-child{
	border-bottom: 1px solid #ccc;
}
/*healthy manage end*/
/*healthy trouble start*/
.healthy-trouble{
	padding: 0px 10px;
}
.healthy-trouble ul{
	display: inline-block;
	width: 100%;
}
.healthy-trouble ul li:nth-child(3n+1){
	margin-right: 5%;
}
.healthy-trouble ul li:nth-child(3n+0){
	margin-left: 5%;
}
.healthy-trouble ul li{
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 10px;
	width: 30%;
	height: inherit;
	padding: inherit;
	border-bottom: none;
	text-align: center;
	cursor: pointer;
}
.healthy-trouble ul li .trouble-image{
	display: block;
	width: 100%;
}
.healthy-trouble ul li .trouble-image img{
	width: 100%;
	height: auto;
	outline: none;
	border: none;
	border-radius: 8px;
	vertical-align: middle;
}
.healthy-trouble ul li .trouble-text{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,113,228,0.25);
	border-radius: 0px 0px 8px 8px;
	display: block;
	line-height: 38px;
	text-align: center;
}
.healthy-trouble ul li .trouble-text a{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.65);
}
/*healthy trouble end*/
/*healthy trouble type start*/
.healthy-trouble-type{}
.healthy-trouble-type .image{
	padding: 10px;
}
.healthy-trouble-type .image img{
	outline: none;
	border: none;
	width: 100%;
}
.healthy-trouble-type .introduces{
	line-height: 24px;
	padding: 0px 10px 10px;
}
.healthy-trouble-type .box{}
.healthy-trouble-type .box .tips{
	display: block;
	padding: 10px;
	line-height: 24px;
	color: #666;
}
.healthy-trouble-type .box dl{
	margin: 0px;
	padding: 10px 10px 0px;
}
.healthy-trouble-type .box dt{
	display: block;
	height: 38px;
	line-height: 36px;
	padding: 0px 10px;
	border: 1px solid #ccc;
	background-color: #fafafa;
	font-size: 16px;
	cursor: pointer;
}
.healthy-trouble-type .box dt.hidden-content{
	border-radius: 3px;
	margin-bottom: 10px;
}
.healthy-trouble-type .box dt.show-content{
	border-radius: 3px 3px 0px 0px;
	margin-bottom: 0px;
}
.healthy-trouble-type .box dt.hidden-content:after{
	float: right;
	display: inline-block;
	margin: 10px 0px;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	content: "∧";
	color: #999;
}
.healthy-trouble-type .box dt.show-content:after{
	float: right;
	display: inline-block;
	margin: 10px 0px;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	content: "∨";
	color: #999;
}
.healthy-trouble-type .box dd{
	display: none;
	line-height: 24px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}
.healthy-trouble-type .artcle{}
.healthy-trouble-type .artcle .title{
	padding: 0px 10px;
	line-height: 32px;
	font-weight: bold;
	font-size: 16px;
	color: #0071e4;
}
.healthy-trouble-type .artcle .content{
	margin: 0px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
}
.healthy-trouble-type .artcle .content li{
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #ccc;
	padding: 0px 10px;
	font-size: 16px;
	cursor: pointer;
}
.healthy-trouble-type .artcle .content li:after{
	float: right;
	display: inline-block;
	margin: 10px 0px;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	content: "＞";
	color: #999;
}
.healthy-trouble-type .artcle .content li:last-child{
	border-bottom: none;
}
/*healthy trouble type end*/
/*healthy trouble artcle start*/
.healthy-trouble-artcle{
	padding: 10px;
}
.healthy-trouble-artcle h1{
	margin: 0px;
	padding: 0px;
	line-height: 38px;
	font-size: 20px;
	font-weight: normal;
}
.healthy-trouble-artcle .info{
	line-height: 28px;
	color: #666;
}
.healthy-trouble-artcle .info .date{}
.healthy-trouble-artcle .info .view{
	padding-left: 15px;
}
.healthy-trouble-artcle .content{
	padding-top: 20px;
	line-height: 24px;
}
/*healthy trouble artcle end*/
/*loading style start*/
@keyframes showDelay{
	0%, 80%, 100%{
		opacity: 0.2;
	}
	40%{
		opacity: 1;
	}
}
.loading{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 11;
	width: 100px;
	height: 60px;
	margin: auto;
	background-color: rgba(0,0,0,0.65);
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.loading p{
	line-height: 28px;
	margin: 10px 0px 0px;
	padding: 0px;
}
.loading .box{
	position: relative;
	top: 10px;
	width: 2px;
	height: 18px;
	margin: 0px auto;
}
.loading .box > div{
	position: absolute;
	width: 100%;
	height: 100%;
}
.loading .box .contaier-one{
	transform: rotate(0deg);
}
.loading .box .contaier-two{
	transform: rotate(30deg);
}
.loading .box .contaier-three{
	transform: rotate(60deg);
}
.loading .box .contaier-four{
	transform: rotate(90deg);
}
.loading .box .contaier-five{
	transform: rotate(120deg);
}
.loading .box .contaier-sixe{
	transform: rotate(150deg);
}
.loading .box > div > span{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 4px;
	background-color: #fff;
	animation: showDelay 1.3s infinite ease-in-out;
}
.loading .box > div .rect-odd{
	top: 0px;
	left: 0px;
}
.loading .box > div .rect-even{
	bottom: 0px;
	left: 0px;
}
.loading .box .contaier-one .rect-odd{
	animation-delay: -1.2s;
}
.loading .box .contaier-one .rect-even{
	animation-delay: -0.6s;
}
.loading .box .contaier-two .rect-odd{
	animation-delay: -1.1s;
}
.loading .box .contaier-two .rect-even{
	animation-delay: -0.5s;
}
.loading .box .contaier-three .rect-odd{
	animation-delay: -1s;
}
.loading .box .contaier-three .rect-even{
	animation-delay: -0.4s;
}
.loading .box .contaier-four .rect-odd{
	animation-delay: -0.9s;
}
.loading .box .contaier-four .rect-even{
	animation-delay: -0.3s;
}
.loading .box .contaier-five .rect-odd{
	animation-delay: -0.8s;
}
.loading .box .contaier-five .rect-even{
	animation-delay: -0.2s;
}
.loading .box .contaier-sixe .rect-odd{
	animation-delay: -0.7s;
}
.loading .box .contaier-sixe .rect-even{
	animation-delay: -0.1s;
}
/*loading style end*/
/*tips tyle start*/
@keyframes showTips{
	from{
		opacity:1;
	}
	to{
		opacity:0;
		visibility:hidden;
	}
}
.tips-animation{
	animation-name:showTips;
	animation-duration:0.2s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-direction:normal;
}
.tips-box{
	position:absolute;
	left:50%;
	top:50%;
	z-index:10001;
	margin:-40px 0 0 -75px;
	font-weight:bold;
	font-size:16px;
	color:#fff;
	width:150px;
	height:80px;
	line-height:80px;
	text-align:center;
	background-color:rgba(0,0,0,0.85);
	border-radius:5px;
}
/*tips style end*/
/*healthy task start*/
.healthy-task{
	padding: 10px;
}
.healthy-task dl{
	margin: 0px;
	padding: 0px;
}
.healthy-task dt{
	margin: 0px;
	padding: 0px;
	line-height: 38px;
	font-size: 16px;
	color: #0071e4;
}
.healthy-task dd{
	border: 1px solid #0071e4;
	border-radius: 5px;
	margin: 0px 0px 10px;
	padding: 10px;
	text-align: center;
}
.healthy-task dd .title{
	line-height: 28px;
}
.healthy-task dd .image{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.healthy-task dd .image span{
	display: table-cell;
}
.healthy-task dd .image span img{
	max-width: 100%;
	vertical-align: middle;
	cursor: pointer;
}
/*healthy task end*/
/*healthy assessment start*/
.progress-tip progress{
	position: fixed;
	top: 48px;
	left: 0;
	right: 0;
	width: 100%;
	height: 5px;
	border: none;
	background: #fff;
}
.progress-tip progress::-moz-progress-bar{
	background: #0d7db5;
}

.progress-tip progress::-webkit-progress-bar{
	background: #fff;
}

.progress-tip progress::-webkit-progress-value{
	background: #0d7db5;
}
.healthy-assessment{
	padding: 10px;
}
.healthy-assessment dl{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dotted #dedede;
}
.healthy-assessment dt{
	margin: 0px;
	padding: 8px 0px;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	color: #8a8a8a;
}
.healthy-assessment dd{
	margin: 0px 0px 10px;
	padding: 10px;
	text-align: center;
}
.healthy-assessment dd .title{
	line-height: 28px;
}
.healthy-assessment dd .image{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.healthy-assessment dd .image span{
	display: table-cell;
}
.healthy-assessment dd .image span img{
	max-width: 100%;
	vertical-align: middle;
	cursor: pointer;
}
.healthy-assessment dd .radio-btn a{
	display: inline-block;
	width: 55px;
	height: 55px;
	margin: 0 15px;
	border-radius: 33px;
	border: 2px solid #0074e1;
	background: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 55px;
}
.healthy-assessment dd .radio-btn a .icon-wrong{
	font-size: 22px;
	vertical-align: 2px;
}
.healthy-assessment dd .radio-btn a.on{
	border: 2px solid rgba(0, 116, 225, 0.7);
	background: #0074e1;
	color: #fff;
}
.healthy-assessment dd .left-radio-button a{
	position: relative;
	display: block;
	width: 60%;
	margin: 0 auto;
	padding: 3px 0 5px 25px;
	color: #5d5d5d;
	text-align: left;
}
.healthy-assessment dd .left-radio-button a:before{
	content: "";
	position: absolute;
	top: 48%;
	left: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 2px solid #0074e1;
	transform: translateY(-50%);
}
.healthy-assessment dd .left-radio-button a.checked:after{
	content: "";
	position: absolute;
	top: 48%;
	left: 6px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #0074e1;
	transform: translateY(-50%);
}
/*healthy assessment end*/
/*myHealthy start*/
.my-healthy{
	width: 100%;
}
.my-healthy .main-containt{
    padding: 13px 10px 15px 10px;
    background-image: url(../images/healthy-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
    background-size: cover;
}
.my-healthy ul.title-tab{
	width: 100%;
}
.my-healthy ul.title-tab li{
	display: inline-block;
	width: 49%;
	margin-bottom: 10px;
	text-align: center;
}
.my-healthy ul.title-tab li a{
	display: inline-block;
	border-radius: 30px;
	padding: 3px 25px;
	color: #fff;
	font-size: 18px;
}
.my-healthy ul.title-tab li.titleon a{
	background-color: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.my-healthy .whitebar{
    display: table;
    width: 100%;
    height: 1px;
    background-image: url(../images/whitebar-bg.png);
	background-repeat: no-repeat;
	background-position: bottom center;
    background-size: 100% auto;
}
.my-healthy .content-title{
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 10px 0;
    color: #fff;
}
.my-healthy .tdcell{
	display: table-cell;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: middle;
    font-size: 18px;
}
.my-healthy .text-right{
	text-align: right;
}
.my-healthy .more-btn{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.my-healthy .content-whitebg{
	background-image: url(../images/content-whitebg.png);
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 22%;
    font-size: 22px;
    color: #fff;
}
.my-healthy .text-center{
	text-align: center;
}
.my-healthy .big-size-font{
    font-size: 60px;
    line-height: 48px;
}
.my-healthy .font-step{
    line-height: 18px;
}
.my-healthy ul.content-item{
    margin-top: 13%;
    text-align: center;
    font-size: 14px;
}
.my-healthy ul.content-item li{
    display: inline-block;
    width: 30%;
    text-align: center;
}
.my-healthy .item-icon{
    margin-bottom: 5px;
}
.my-healthy .item-icon i{
    font-size: 22px;
}
.my-healthy .item-daten{
    font-size: 16px;
    color: #d5ffff;
}
.my-healthy ul.content-item li.line{
    display: inline-block;
    width: 1px;
    text-align: center;
    border-bottom: 48px solid white;
}
.my-healthy .human-running{
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
}
.my-healthy .svg-path{
    position: absolute;
    top: 17%;
    bottom: 22%;
    left: 4%;
    width: 92%;
}
.my-healthy .gototask{
    position: absolute;
    top: 17%;
    right: 0;
    width: 23%;
    height: 20%;
    background: transparent;
}
.my-healthy .healthy-status-content{
    position: relative;
}
.my-healthy .white-bg{
    padding: 0;
    background: #fff;
    box-shadow: inset 0 3px 5px -2px #b3b3b3;
}
.my-healthy .scroll-ad{
    padding: 10px 0;
    overflow: hidden;
    font-size: 0;
    position: relative;
}
.my-healthy .scroll-ad .anime{
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
}
.my-healthy .scroll-ad .body{
    will-change: transform;
}
.my-healthy .scroll-ad img{
    width: 100vw;
    vertical-align: middle;
}
.my-healthy .scroll-ad .mark{
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 10px;
    left: 0;
    background-color: inherit;
}
.my-healthy .scroll-ad .mark i{
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin: 4px;
    background-color: #B3B3B3;
}
.my-healthy .scroll-ad .mark i.cur{
    background-color: #0074e1;
}
.my-healthy .healthy-assess{
    padding: 0 10px;
}
.my-healthy .healthy-assess ul{
    text-align: center;
}
.my-healthy .healthy-assess ul li{
    display: inline-block;
    position: relative;
    width: 48%;
    font-size: 16px;
}
.my-healthy .pull-left{
	float: left;
}
.my-healthy .pull-right{
	float: right;
}
.my-healthy .healthy-assess ul li img{
    width: 100%;
    height: auto;
    border-radius: 8px;
	vertical-align: top;
}
.my-healthy .quiz-undo{
    position: absolute;
    top: 20%;
    width: 100%;
    font-size: 14px;
    z-index: 1;
}
.my-healthy .quiz-undo span{
    display: inline-block;
    padding: 3px 15px;
    border: 1px solid #fff;
    color: #fff;
}
.my-healthy .assess-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 8px 0;
    background: rgba(16, 125, 182, 0.4);
    color: #fff;
    z-index: 1;
}
.my-healthy .undo-grey-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(138, 138, 138, 0.5);
    z-index: 0;
}
.my-healthy .healthy-task{
	padding: 0px;
}
.my-healthy .white-bg .conent-title-font{
    color: #0d7db5;
}
/*myHealthy end*/
.my-healthy .human-running .running-img{
-ms-transform: scale(0.7, 0.7) translateY(-50px);
	transform: scale(0.7, 0.7) translateY(-50px);
-webkit-transform: scale(0.7, 0.7) translateY(-50px);
-moz-transform: scale(0.7, 0.7) translateY(-50px);
-o-transform: scale(0.7, 0.7) translateY(-50px); }
.my-healthy .human-running .running-img.leavel-3-man{
-ms-transform: scale(0.7, 0.7) translateY(-40px);
	transform: scale(0.7, 0.7) translateY(-40px);
-webkit-transform: scale(0.7, 0.7) translateY(-40px);
-moz-transform: scale(0.7, 0.7) translateY(-40px);
-o-transform: scale(0.7, 0.7) translateY(-40px); }
.my-healthy .human-running .running-img.leavel-4-man{
-ms-transform: scale(0.75, 0.75) translateY(-45px);
	transform: scale(0.75, 0.75) translateY(-45px);
-webkit-transform: scale(0.75, 0.75) translateY(-45px);
-moz-transform: scale(0.75, 0.75) translateY(-45px);
-o-transform: scale(0.75, 0.75) translateY(-45px); }
.my-healthy .human-running .running-img.leavel-5-man{
-ms-transform: scale(0.66, 0.66) translateY(-50px);
	transform: scale(0.66, 0.66) translateY(-50px);
-webkit-transform: scale(0.66, 0.66) translateY(-50px);
-moz-transform: scale(0.66, 0.66) translateY(-50px);
-o-transform: scale(0.66, 0.66) translateY(-50px); }
/* human running */
/*12frame*/
@-webkit-keyframes runone{
  0%{
    background-position: 0; }
  100%{
    background-position: -1920px 0; } }

@keyframes runone{
  0%{
    background-position: 0; }
  100%{
    background-position: -1920px 0; } }

/*12frame*/
/*9frame*/
@-webkit-keyframes runtwo{
  0%{
    background-position: 0; }
  100%{
    background-position: -1440px 0; } }

@keyframes runtwo{
  0%{
    background-position: 0; }
  100%{
    background-position: -1440px 0; } }

/*9frame*/
/*10frame*/
@-webkit-keyframes run{
  0%{
    background-position: 0; }
  100%{
    background-position: -1600px 0; } }

@keyframes run{
  0%{
    background-position: 0; }
  100%{
    background-position: -1600px 0; } }

/*10frame*/
/*6frame*/
@-webkit-keyframes runthree{
  0%{
    background-position: 0; }
  100%{
    background-position: -960px 0; } }

@keyframes runthree{
  0%{
    background-position: 0; }
  100%{
    background-position: -960px 0; } }

/* human running */
/* running man&girl animation start */
.running-img{
  width: 160px;
  height: 195px;
  margin: 0 auto; }
/*6frame*/
.leavel-1-woman{
  background: url(../images/woman-01.png) no-repeat 0 0;
  -webkit-animation: runone 1.2s steps(12) infinite 0s;
  animation: runone 1.2s steps(12) infinite 0s; }

.leavel-1-man{
  background: url(../images/man-01.png) no-repeat 0 0;
  -webkit-animation: runone 1.2s steps(12) infinite 0s;
  animation: runone 1.2s steps(12) infinite 0s; }

.leavel-2-woman{
  background: url(../images/woman-02.png) no-repeat 0 0;
  -webkit-animation: runtwo 1s steps(9) infinite 0s;
  animation: runtwo 1s steps(9) infinite 0s; }

.leavel-2-man{
  background: url(../images/man-02.png) no-repeat 0 0;
  -webkit-animation: runtwo 1s steps(9) infinite 0s;
  animation: runtwo 1s steps(9) infinite 0s; }

.leavel-3-woman{
  background: url(../images/woman-03.png) no-repeat 0 0;
  -webkit-animation: run 1s steps(10) infinite 0s;
  animation: run 1s steps(10) infinite 0s; }

.leavel-3-man{
  background: url(../images/man-03.png) no-repeat 0 0;
  -webkit-animation: run 1s steps(10) infinite 0s;
  animation: run 1s steps(10) infinite 0s; }

.leavel-4-woman{
  background: url(../images/woman-04.png) no-repeat 0 0;
  -webkit-animation: run 0.8s steps(10) infinite 0s;
  animation: run 0.8s steps(10) infinite 0s; }

.leavel-4-man{
  background: url(../images/man-04.png) no-repeat 0 0;
  -webkit-animation: run 0.8s steps(10) infinite 0s;
  animation: run 0.8s steps(10) infinite 0s; }

.leavel-5-woman{
  background: url(../images/woman-05.png) no-repeat 0 0;
  -webkit-animation: runthree 0.7s steps(6) infinite 0s;
  animation: runthree 0.7s steps(6) infinite 0s; }

.leavel-5-man{
  background: url(../images/man-05.png) no-repeat 0 0;
  -webkit-animation: runthree 0.7s steps(6) infinite 0s;
  animation: runthree 0.7s steps(6) infinite 0s; }

/* running man&girl animation end */
/* community mainpage start */
.my-community{
	width: 100%;
}
.my-community .main-containt{
	padding: 13px 10px 15px 10px;
	background: url("../images/background.jpg") no-repeat top center;
	background-size: cover;
}
.my-community ul.title-tab{
	width: 100%;
}
.my-community ul.title-tab li{
	display: inline-block;
	width: 49%;
	margin-bottom: 10px;
	text-align: center;
}
.my-community ul.title-tab li a{
	display: inline-block;
	border-radius: 30px;
	padding: 3px 25px;
	color: #fff;
	font-size: 18px;
}
.my-community ul.title-tab li.titleon a{
	background-color: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.my-community .whitebar{
    display: table;
    width: 100%;
    height: 1px;
    background-image: url(../images/whitebar-bg.png);
	background-repeat: no-repeat;
	background-position: bottom center;
    background-size: 100% auto;
}
.my-community .content-whitebg{
	margin-top: 15px;
	padding-top: 10px;
    padding-bottom: 10px;
    background: url("../images/content-whitebg.png") no-repeat center;
    background-size: 100% 100%;
    border-radius: 10px;
	font-size: 16px;
    color: #fff;
}
.my-community  .clearfixBoth{
	display: table;
	clear: both;
}
.my-community .pull-left{
	float: left;
}
.my-community .pull-right{
	float: right;
}
.my-community .tdcell{
	display: table-cell;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: middle;
    font-size: 14px;
}
.my-community ul.daten-item li{
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 6px;
}
.my-community ul.daten-item li:last-child{
	margin-bottom: 0px;
}
.my-community .user-image{
	width: 45%;
	margin-top: -10px;
}
.my-community ul.daten-item{
	width: 50%;
	margin-top: 10px;
}
.my-community .user-image img{
	width: 100%;
	height: auto;
}
.my-community .running-img.leavel-5-man{
	-ms-transform: scale(0.95, 0.95);
	transform: scale(0.95, 0.95);
	-webkit-transform: scale(0.95, 0.95);
	-moz-transform: scale(0.95, 0.95);
	-o-transform: scale(0.95, 0.95);
}
.my-community i.icon-user3{
	font-size: 24px;
}
.my-community i.icon-pencil{
	font-size: 11px;
	margin-left: 10px;
}
.my-community p.textPerfect{
	padding: 0 15px;
	font-size: 14px;
	color: red;
}
.my-community .icon-style{
	width: 30%;
	text-align: center;
	font-size: 34px;
	position: relative;
}
.my-community .icon-style i.icon-medal{
	position: relative;
	font-size: 38px;
	vertical-align: -7px;
	z-index: 1;
}
.my-community .icon-style b.star-color{
	display: inline-block;
	position: absolute;
	top: 70%;
	left: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #5BC3D0;
	z-index: 0;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
.my-community .daten-style{
	font-size: 30px;
	color: #d5ffff;
}
.my-community .icon-style{
	font-size: 28px;
}
.my-community .icon-style i.icon-medal{
	font-size: 34px;
	vertical-align: -7px;
}
.my-community .fix-td-width{
	width: 100px;
}
.my-community .leval-progress{
	width: 100%;
	height: 30px;
	position: relative;
}
.my-community .leval-count{
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(0, 0, 74, 0.15);
	line-height: 30px;
	text-align: center;
	color: #d5ffff;
}
.my-community .leval-progress progress{
	width: 80%;
	height: 10px;
	margin: 10px 0 0 29px;
	border: none;
	background: rgba(0, 0, 74, 0.15);
}
.my-community .leval-progress progress::-moz-progress-bar{
	background: #d6ff9f;
}
.my-community .leval-progress progress::-webkit-progress-bar{
	background: rgba(0, 0, 74, 0.15);
}
.my-community .leval-progress progress::-webkit-progress-value{
	background: #d6ff9f;
}
.my-community .feature-title{
	margin-top: 15px;
	text-align: center;
}
.my-community .feature-title li{
	display: inline-block;
	width: 48%;
	padding: 6px 0;
}
.my-community .feature-title li:first-child{
	border-right: 1px solid white;
}
.my-community .feature-title li a{
	color: #fff;
	font-size: 16px;
}
.my-community .feature-title .title-icon-style{
	position: relative;
	padding-right: 5px;
}
.my-community .title-icon-style i{
	vertical-align: -2px;
}
.my-community .title-icon-style i.icon-mail-open{
	font-size: 16px;
	vertical-align: 0;
}
.my-community .remind-circle{
	display: inline-block;
	position: absolute;
	width: 8px;
	height: 8px;
	margin-left: 3px;
	border-radius: 5px;
	background: #f6931c;
}
.my-community .white-bg{
	padding: 15px 10px;
}
.my-community .column{
	width: 49%;
	border: 1px solid #7094b9;
	border-radius: 8px;
}
.my-community .column a.title{
	display: table;
	width: calc(100% + 1px);
	height: 70px;
	padding: 0 10px;
	border-radius: 7px 7px 0 0;
	color: #fff;
	text-shadow: 1px 1px 1px #7a7a7a;
}
.my-community .ranking a.title{
	background: url("../images/rank-bg.jpg") no-repeat top right;
	background-size: cover;
}
.my-community .column a.title .sort-title{
	font-size: 18px;
}
.my-community .column a.title .more-icon{
	font-size: 18px;
}
.my-community .des-section{
	display: table;
	width: 100%;
	height: 50px;
	padding: 0 8px;
	color: #0d7db5;
}
.my-community .icon-group i{
	font-size: 18px;
	padding-right: 5px;
	vertical-align: -4px;
}
.my-community .places{
	font-size: 24px;
	padding: 0 2px;
}
.my-community .des-section .places{
	vertical-align: -3px;
}
.my-community .column-item{
	height: 225px;
	padding: 10px 8px 10px 8px;
	border-radius: 0 0 8px 8px;
	background: url("../images/column-item-bg.png") repeat rgba(229, 229, 229, 0.5);
	font-size: 12px;
}
.my-community .column-item .name,
.my-community .column-item .walk-amount{
	font-size: 14px;
}
.my-community .ranking-week .grade .name{
	display: block;
	width: 100%;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.my-community .ranking .column-item li{
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 10px;
	padding: 7px 0;
	color: #5d5d5d;
}
.my-community .ranking .column-item li:last-child{
	margin-bottom: 0px;
}
.my-community .rank{
	width: 44px;
}
.my-community .rank .places{
	color: #0d7db5;
	vertical-align: -3px;
}
.my-community .shoes-icon{
	width: 45px;
}
.my-community .leavel{
	width: 30px;
	height: 30px;
	margin: 5px 5px 0 5px;
	border-radius: 50%;
	background: #fff;
}
.my-community .walk-amount{
	font-weight: bold;
}
.my-community .team .des-section{
	padding-top: 5px;
}
.my-community .team .des-section .tdcell{
	display: block;
	width: 100%;
	text-align: left;
}
.my-community .team a.title{
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	background-image: url("../images/pao-bg.jpg");
}
.my-community .team a.team-creat .more-icon{
	display: inline-block;
	padding: 5px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 1px 2px 3px #7a7a7a;
	line-height: 14px;
	color: #0074e1;
	text-shadow: 0px 0px 0px #7a7a7a;
}
.my-community a.team-creat .team-title{
	font-size: 20px;
}
.my-community .team-ranking .column-item h5{
	margin-top: 0;
}
.my-community .team .column-item li{
	display: table;
	width: 100%;
	margin-bottom: 7px;
}
.my-community .team .column-item li:last-child{
	margin-bottom: 0;
}
.my-community .circle-pie{
	position: relative;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
@media (max-width: 320px){
	.my-community .circle-pie{
		-webkit-transform: scale(0.9, 0.9) rotate(-90deg);
		-ms-transform: scale(0.9, 0.9) rotate(-90deg);
		transform: scale(0.9, 0.9) rotate(-90deg);
	}
	.my-community .mask h5{
		width: 40%;
		margin: 0 auto;
		margin-bottom: 0 !important;
	}
}
.my-community .mask{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #21bdcf;
	font-size: 14px;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
.my-community .mask h5{
	margin-top: 0;
	margin-bottom: 5px;
}
.my-community .mask .day hr{
	display: inline-block;
	width: 20px;
	height: 1px;
	background: none;
	border: none;
	border-bottom: 1px solid #21bdcf;
	vertical-align: -2px;
}
.my-community .mask .day span,
.my-community .mask .hour,
.my-community .mask .minute{
	font-size: 18px;
	padding: 0 3px;
}
.my-community .ranking-ending-status,
.my-community .ranking-time-status{
	position: relative;
	padding: 0;
}
.my-community .ranking-ending-content,
.my-community .ranking-time-content{
	position: absolute;
	top: 50%;
	width: 100%;
	margin: 0;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-size: 16px;
	color: #5d5d5d;
}
.my-community .ranking-ending-content p{
	margin: 15px 0 3px 0;
}
.my-community .ranking-ending-content a{
	color: #5d5d5d;
}
.my-community .number-area{
	width: 50px;
	vertical-align: bottom !important;
}
.my-community .team-rank{
	width: 40px;
	height: 50px;
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	background: url("../images/icons/icon-rankbg.png") no-repeat;
	background-size: 100% auto;
	background-position: 0 15px;
}
.my-community .team .first{
	color: #fdc60a;
	background: url("../images/icons/icon-rank-first-bg.png") no-repeat;
	background-size: 100% auto;
	background-position: 0 -5px;
}
.my-community .team .second{
	color: #e3769f;
}
.my-community .team .third{
	color: #dcaa6f;
}
.my-community .team-member div.name{
	width: 60px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.my-community .team-member .progress-bar{
	width: 100%;
	height: 8px;
	border-radius: 20px;
	background: white;
}
.my-community .team-member .progress-bar::-moz-progress-bar{
	background: #21bdcf;
}
.my-community .team-member .progress-bar::-webkit-progress-bar{
	background: white;
}
.my-community .team-member .progress-bar::-webkit-progress-value{
	background: #21bdcf;
}
.my-community .run-amount{
	color: #21bdcf;
	font-size: 14px;
}
.my-community .ranking-none,
.my-community .team-creat-content{
	position: relative;
	width: 100%;
	height: 275px;
	border-radius: 0 0 8px 8px;
	background: url("../images/column-item-bg.png") repeat rgba(229, 229, 229, 0.5);
}
.my-community .ranking-none p,
.my-community .team-creat-link{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.my-community .ranking-none p{
	font-size: 16px;
}
.my-community .team-creat-link a{
	display: table;
	width: 100%;
	padding: 0 5px;
}
.my-community .cut-off{
	padding: 15px 0;
}
.my-community .cut-off hr{
	display: inline-block;
	width: 35%;
	height: 4px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(94, 202, 204, 0.7);
}
.my-community .cut-off span{
	vertical-align: 3px;
	padding: 0 5px;
}
.my-community .team-creat-link .add-icon,
.my-community .team-creat-link .bell-icon,
.my-community .champion-icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 55px;
	border-radius: 50%;
	background: #0074e1;
	font-size: 30px;
	color: #ffffff;
}
.my-community .team-creat-link .arrow i{
	font-size: 20px;
	line-height: 28px;
}
.my-community .team-creat-link .bell-icon{
	position: relative;
}
.my-community .team-creat-link .reminder{
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 50px;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background: #f6931c;
}
.my-community .team-creat-link p{
	margin: 15px 0;
}
@media (max-width: 320px){
	.my-community .user-image{
		margin-top: -20px;
	}
	.my-community .running-img.leavel-5-man{
		-ms-transform: scale(0.85, 0.85) translateX(-10px);
		transform: scale(0.85, 0.85) translateX(-10px);
		-webkit-transform: scale(0.85, 0.85) translateX(-10px);
		-moz-transform: scale(0.85, 0.85) translateX(-10px);
		-o-transform: scale(0.85, 0.85) translateX(-10px);
	}
	.my-community .daten-style{
		font-size: 26px;
	}
	.my-community .ranking-week .column-item{
		padding-top: 0;
	}
	.my-community .des-section{
		height: 45px;
		font-size: 12px;
		padding: 0 8px;
	}
	.my-community .des-section .places{
		font-size: 20px;
		vertical-align: -3px;
	}
	.my-community .icon-group i{
		font-size: 16px;
		padding-right: 5px;
		vertical-align: -4px;
	}
	.my-community .leavel{
		margin: 5px 2px 0 2px;
	}
	.my-community .rank .places{
		color: #0d7db5;
		font-size: 18px;
		vertical-align: 0;
	}
	.my-community .shoes-icon{
		width: 40px;
	}
	.my-community .team-ranking h5{
		margin-bottom: 0;
	}
	.my-community .ranking .column-item li{
		padding: 7px 0;
		margin-bottom: 5px;
	}
	.my-community .team .column-item li{
		margin-bottom: 0;
	}
	.my-community .team .des-section{
		padding-top: 0;
	}
	.my-community .team .des-section .tdcell:first-child{
		margin-top: 6px;
	}
	.my-community .team-member div{
		margin-bottom: -3px;
	}
	.my-community .number-area{
		width: 35px;
	}
	.my-community .team-rank{
		width: 30px;
		height: 57px;
		margin-right: 6px;
		padding-top: 30px;
		font-size: 16px;
		background-position: 0 27px;
	}
	.my-community .team .first{
		color: #fdc60a;
		background: url("../images/icons/icon-rank-first-bg.png") no-repeat;
		background-size: 100% auto;
		background-position: 0 13px;
	}
	.my-community .ranking-none,
    .my-community .team-creat-content{
		height: 270px;
	}
	.my-community .team-creat-link .add-icon,
    .my-community .team-creat-link .bell-icon,
    .my-community .champion-icon{
		display: inline-block;
		width: 43px;
		height: 43px;
		line-height: 46px;
		border-radius: 50%;
		font-size: 25px;
	}
	.my-community .team-creat-link .arrow i{
		font-size: 18px;
	}
	.my-community .team-creat-link .reminder{
		left: 43px;
	}
}
/* community mainpage end */

/* cover style start */
.mbsc-ios .dw-li{
	text-align: center;
}
/* cover style end */