<div class="main address-management">
	<!-- 地址列表 -->
	<div class="address" ng-if="renderData.length">
		<div class="address-item" ng-repeat="item in renderData">
			<div class="name-mobile">
				<span class="name">{{item.receiverName}}</span>
				<span class="mobile">{{item.mobile}}</span>
			</div>
			<div class="address-detail">{{item.provinceName + item.cityName + item.countyName + item.detail}}</div>
			<div class="tool">
				<span class="default" ng-click="setDefaultAddress(item);">
					<i class="icon" ng-class="item.isDefault=='01'?'icon-check_circle':'icon-circle-check'"></i>默认地址
				</span>
				<span class="edit" ng-click="toAddressEditPath(item);">
					<i class="icon icon-mode_edit"></i>编辑
				</span>
				<span class="delete" ng-click="deleteAddress(item,$index);">
					<i class="icon icon-trash"></i>删除
				</span>
			</div>
		</div>
	</div>
	<!-- 暂无地址信息 -->
	<div class="no-address" ng-if="!renderData.length">
		<img src="../images/design/icon-addressManagement.png"/>
		<span class="text">暂无地址信息</span>
	</div>
	<!-- 新增按钮 -->
	<div class="btn-area">
		<button class="btn" ng-click="toAddressAddPath();">+新增地址</button>
	</div>
</div>