<div class="main address-management">
	<!-- 地址列表 -->
	<div class="address">
		<div class="address-item">
			<div class="name-mobile">
				<span class="name">{{'Nicky.Wu'}}</span>
				<span class="mobile">{{'15620000012'}}</span>
			</div>
			<div class="address-detail">{{'广东省深圳市南山区 科技南路22号康佳研发大厦11F'}}</div>
			<div class="tool">
				<span class="default">
					<i class="icon icon-check_circle"></i>默认地址
				</span>
				<span class="edit">
					<i class="icon icon-mode_edit"></i>编辑
				</span>
				<span class="delete">
					<i class="icon icon-local_shipping"></i>删除
				</span>
			</div>
		</div>
		<div class="address-item">
			<div class="name-mobile">
				<span class="name">{{'Nicky.Wu'}}</span>
				<span class="mobile">{{'15620000012'}}</span>
			</div>
			<div class="address-detail">{{'广东省深圳市南山区 科技南路22号康佳研发大厦11F'}}</div>
			<div class="tool">
				<span class="default">
					<i class="icon icon-circle-check"></i>默认地址
				</span>
				<span class="edit">
					<i class="icon icon-mode_edit"></i>编辑
				</span>
				<span class="delete">
					<i class="icon icon-local_shipping"></i>删除
				</span>
			</div>
		</div>
	</div>
	<!-- 暂无地址信息 -->
	<div class="no-address" ng-if="false">
		<img src="../images/design/icon-addressManagement.png"/>
		<span class="text">暂无地址信息</span>
	</div>
	<!-- 新增按钮 -->
	<div class="btn-area">
		<button class="btn">+新增地址</button>
	</div>
</div>