<div class="main address-edit">
	<!-- 表单 -->
	<ul class="form">
		<li class="form-item">
			<label>收件人：</label>
			<span class="text">
				<input type="text" autocomplete="off" placeholder="请输入收件人姓名"/>
			</span>
		</li>
		<li class="form-item">
			<label>联系方式：</label>
			<span class="text">
				<input type="tel" autocomplete="off" placeholder="请输入收件人手机号"/>
			</span>
		</li>
		<li class="form-item">
			<label>所在地区：</label>
			<span class="text">
				<input type="text" autocomplete="off" placeholder="请选择"/>
			</span>
		</li>
		<li class="form-item">
			<label>详细地址：</label>
			<span class="text">
				<input type="text" autocomplete="off" placeholder="请输入街道、楼牌号等"/>
			</span>
		</li>
	</ul>
	<!-- 保存按钮 -->
	<div class="btn-area">
		<button class="btn">保存</button>
	</div>
</div>