<div class="main earn-integral">
	<ul class="list">
		<li class="list-item">
			<i class="icon"></i>
			<span class="desc">{{'500积分'}}</span>
			<span class="name">{{'注册登录(已完成)'}}</span>
		</li>
		<li class="list-item">
			<i class="icon"></i>
			<span class="desc">{{'100积分'}}</span>
			<span class="name">{{'绑定订单(已完成)'}}</span>
		</li>
		<li class="list-item">
			<i class="icon"></i>
			<span class="desc">{{'300积分'}}</span>
			<span class="name">{{'续保订单'}}</span>
		</li>
		<li class="list-item">
			<i class="icon"></i>
			<span class="desc">{{'累积获奖'}}</span>
			<span class="name">{{'每日签到'}}</span>
		</li>
		<li class="list-item">
			<i class="icon"></i>
			<span class="desc">{{'转盘抽大奖'}}</span>
			<span class="name">{{'续保订单'}}</span>
		</li>
	</ul>
</div>