<div class="main exchange-center">
	<!-- 顶部栏 -->
	<div class="top">
		<span class="count">
			<i class="icon icon-server"></i>{{renderData.totalScore}}
		</span>
		<span class="search">
			<i class="icon icon-search"></i>
			<input type="text" autocomplete="off" placeholder="搜索" ng-model="form.searchKey" ng-focus="form.goPath('search');"/>
		</span>
		<span class="more" ng-click="showMoreMenu=!showMoreMenu;">
			<i class="icon icon-view_headline"></i>
		</span>
	</div>
	<!-- 筛选栏 -->
	<div class="filter">
		<span class="filter-tab" ng-click="showClassificationFn();">
			{{form.categoryName}}
			<i class="icon" ng-class="showClassification?'icon-keyboard_arrow_up':'icon-keyboard_arrow_down'"></i>
		</span>
		<span class="filter-tab" ng-click="getList('exchangeAmount');">
			兑换量
			<i class="icon" ng-class="form.sortType=='01'?'icon-keyboard_arrow_up':form.sortType=='02'?'icon-keyboard_arrow_down':''"></i>
		</span>
		<span class="filter-tab" ng-click="getList('integral');">
			积分
			<i class="icon" ng-class="form.sortType=='03'?'icon-keyboard_arrow_up':form.sortType=='04'?'icon-keyboard_arrow_down':''"></i>
		</span>
		<span class="filter-tab" ng-click="showIntegralSpanFn();">
			{{form.interval=='00'?'区间':
			form.interval=='01'?'0-1W':
			form.interval=='02'?'1W-1.5W':
			form.interval=='03'?'1.5W-3W':
			form.interval=='04'?'3W以上':''}}
			<i class="icon" ng-class="showIntegralSpan?'icon-keyboard_arrow_up':'icon-keyboard_arrow_down'"></i>
		</span>
	</div>
	<!-- 列表 -->
	<ul class="list dropload-list">
		<li class="list-item" ng-repeat="item in renderData.shopList" ng-click="form.goPath('exchangeDetail/'+item.productCode);">
			<img ng-src="{{item.imageUrl}}" alt="{{item.productName}}"/>
			<div class="name">{{item.productName}}</div>
			<div class="info">
				<span class="count">{{item.activityType=='01'||item.activityType=='02'?item.activityScore:item.defaultScore}} 积分</span>
				<span class="tag" ng-if="item.activityType=='02'">特惠</span>
				<span class="tag" ng-if="item.activityType=='03'">推荐</span>
				<span class="status" ng-if="item.statusCode!='03'">已下架</span>
			</div>
		</li>
	</ul>
	<!-- 更多菜单 -->
	<div class="menu" ng-if="showMoreMenu">
		<div class="menu-tab" ng-click="form.goPath('shoppingCart');">
			<i class="icon icon-shopping-cart"></i>购物车
		</div>
		<div class="menu-tab" ng-click="form.goPath('addressManagement');">
			<i class="icon icon-location-outline"></i>收货地址
		</div>
		<div class="menu-tab" ng-click="form.goPath('myCollection');">
			<i class="icon icon-favorite_border"></i>我的收藏
		</div>
	</div>
	<!-- 分类 -->
	<div class="classification" ng-if="showClassification">
		<div class="all" ng-click="getList('classifical','');" ng-class="form.category==''?'selected':''">所有礼品</div>
		<div class="list">
			<span class="list-item" ng-class="item.dataValue==form.category?'selected':''" ng-repeat="item in renderData.classifical" ng-click="getList('classifical',item);">
				<img ng-src="{{item.dataValue==form.category?item.imageSelectedUrl:item.imageUrl}}"/>{{item.dataText}}
			</span>
		</div>
	</div>
	<!-- 区间 -->
	<div class="interval" ng-if="showIntegralSpan">
		<div class="interval-tab" ng-class="form.interval==item.key?'selected':''" ng-repeat="item in renderData.integralSpan" ng-click="getList('integralSpan',item);">{{item.value}}</div>
	</div>
</div>