<div class="main exchange-center">
	<!-- 顶部栏 -->
	<div class="top">
		<span class="count">
			<i class="icon"></i>{{'50000'}}
		</span>
		<span class="search">
			<i class="icon"></i>
			<input type="text" autocomplete="off" placeholder="搜索"/>
		</span>
		<span class="more">
			<i class="icon"></i>
		</span>
	</div>
	<!-- 筛选栏 -->
	<div class="filter">
		<span class="filter-tab">分类</span>
		<span class="filter-tab">兑换量</span>
		<span class="filter-tab">积分</span>
		<span class="filter-tab">区间</span>
	</div>
	<!-- 列表 -->
	<ul class="list">
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
		<li class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<div class="name">{{'苹果手机'}}</div>
			<div class="info">
				<span class="count">{{'120000'}}积分</span>
				<span class="tag">特惠</span>
				<span class="status">已下架</span>
			</div>
		</li>
	</ul>
	<!-- 更多菜单 -->
	<div class="menu">
		<div class="menu-tab">
			<i class="icon"></i>购物车
		</div>
		<div class="menu-tab">
			<i class="icon"></i>收货地址
		</div>
		<div class="menu-tab">
			<i class="icon"></i>我的收藏
		</div>
	</div>
	<!-- 分类 -->
	<div class="classification">
		<div class="all"></div>
		<div class="list">
			<span class="list-item">
				<i class="icon"></i>家居生活
			</span>
			<span class="list-item">
				<i class="icon"></i>数码电子
			</span>
			<span class="list-item">
				<i class="icon"></i>文本玩具
			</span>
			<span class="list-item">
				<i class="icon"></i>食品保健
			</span>
			<span class="list-item">
				<i class="icon"></i>户外运动
			</span>
			<span class="list-item">
				<i class="icon"></i>汽车用品
			</span>
			<span class="list-item">
				<i class="icon"></i>虚拟卡卷
			</span>
			<span class="list-item">
				<i class="icon"></i>生活电器
			</span>
			<span class="list-item">
				<i class="icon"></i>箱包皮具
			</span>
			<span class="list-item">
				<i class="icon"></i>厨房用品
			</span>
			<span class="list-item">
				<i class="icon"></i>个人护理
			</span>
		</div>
	</div>
	<!-- 区间 -->
	<div class="interval">
		<div class="interval-tab">不限</div>
		<div class="interval-tab">0~10000分</div>
		<div class="interval-tab">10000~15000分</div>
		<div class="interval-tab">15000~30000分</div>
		<div class="interval-tab">30000分以上</div>
	</div>
</div>