<div class="main exchange-detail">
	<!-- 图片 -->
	<div class="image"></div>
	<!-- 名称/积分/收藏 -->
	<div class="pannel">
		<div class="name">
			<span class="tag">特惠</span>贝德玛（Bioderma）舒妍洁肤液500ml卸妆水（粉水 卸妆 眼唇 舒缓 保湿）
		</div>
		<div class="count-collection">
			<span class="count">{{'100'}}积分</span>
			<span class="collection">
				<i class="icon"></i>未收藏
			</span>
		</div>
	</div>
	<!-- 编号/数量 -->
	<div class="pannel">
		<div class="code">礼品编号：{{'1200120170420'}}</div>
		<div class="amount">
			兑换数量：
			<span class="counter">
				<span class="delete">-</span>
				<span>{{'1'}}</span>
				<span class="add">+</span>
			</span>
		</div>
	</div>
	<!-- 产品详情 -->
	<div class="detail">
		<div class="detail-title">产品详情</div>
		<div class="detail-content">此处为商品详情...</div>
	</div>
	<!-- 底部工具栏 -->
	<div class="operation">
		<span class="operation-tab">
			<i class="icon"></i>购物车
			<span class="count">{{'5'}}</span>
		</span>
		<span class="operation-tab">加入购物车</span>
		<span class="operation-tab">立即兑换</span>
	</div>
</div>