<div class="main fill-Order">
	<!-- 默认地址 -->
	<div class="address">
		<div class="name-mobile">
			<span class="name">{{'伍老板'}}</span>
			<span class="mobile">{{'13512001200'}}</span>
			<span class="tag">默认地址</span>
		</div>
	</div>
	<!-- 商品 -->
	<div class="product">
		<div class="product-item">
			<div class="product-title">
				编号：{{'SZ2155420170512'}}{{'(特惠)'}}
			</div>
			<div class="product-content">
				<img src="../../../src/img/shopping_img.png"/>
				<div class="name-integral-counter">
					<div class="name">
						{{'贝德玛（Bioderma）舒妍洁肤液500ml卸妆水（粉水 卸妆 眼唇 舒缓 保湿）'}}
					</div>
					<div class="integral-counter">
						<span class="integral">{{'40500'}}积分</span>
						<span class="counter">
							<span class="delete">-</span>
							<span>{{'1'}}</span>
							<span class="add">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="product-total">
				合计：{{'40500'}}积分
			</div>
		</div>
		<div class="product-item">
			<div class="product-title">
				编号：{{'SZ2155420170512'}}
			</div>
			<div class="product-content">
				<img src="../../../src/img/shopping_img.png"/>
				<div class="name-integral-counter">
					<div class="name">
						{{'贝德玛（Bioderma）舒妍洁肤液500ml卸妆水（粉水 卸妆 眼唇 舒缓 保湿）'}}
					</div>
					<div class="integral-counter">
						<span class="integral">{{'40500'}}积分</span>
						<span class="counter">
							<span class="delete">-</span>
							<span>{{'1'}}</span>
							<span class="add">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="product-total">
				合计：{{'40500'}}积分
			</div>
		</div>
	</div>
	<!-- 付款详情 -->
	<div class="detail">
		<div class="title">付款详情</div>
		<div class="item">
			<label>订单信息：</label><span>{{'贝德玛（Bioderma）舒妍洁肤液500ml卸妆水'}}</span>
		</div>
		<div class="item">
			<label>付款方式：</label><span>完美人生积分</span>
		</div>
		<div class="item">
			<label>付款金额：</label><span>{{'40500'}}积分</span>
		</div>
		<div class="item">
			<label>验证码：</label>
			<input type="text" autocomplete="off" placeholder="请输入右侧数字验证码"/>
			<img/>
		</div>
		<div class="error forVerificationCode">请输入正确验证码</div>
		<div class="btn-area">
			<button class="btn">确定付款</button>
		</div>
	</div>
</div>