<div class="main fill-Order">
	<!-- 默认地址 -->
	<div class="address" ng-click="toAddressManagerPath();" ng-if="renderData.addressInfo">
		<div class="name-mobile">
			<span class="name">{{renderData.addressInfo.receiverName}}</span>
			<span class="mobile">{{renderData.addressInfo.mobile}}</span>
			<span class="tag">默认地址</span>
		</div>
		<div class="detail">
			{{renderData.addressInfo.provinceName+renderData.addressInfo.cityName+renderData.addressInfo.countyName}}
			{{renderData.addressInfo.detail}}
		</div>
	</div>
	<div class="no-address" ng-click="toAddressManagerPath();" ng-if="!renderData.addressInfo">请填写收货地址</div>
	<!-- 商品 -->
	<div class="product">
		<div class="product-item" ng-repeat="item in renderData.selectedList">
			<div class="product-title">
				编号：{{item.productCode+(item.activityType=='02'?'(特惠)':item.activityType=='03'?'(推荐)':'')}}
			</div>
			<div class="product-content">
				<img ng-src="{{item.imageUrl}}"/>
				<div class="name-integral-counter">
					<div class="name">{{item.productName}}</div>
					<div class="integral-counter" ng-if="renderData.fromType!='lottery'">
						<span class="integral">
							<strong>{{item.activityType=='01'||item.activityType=='02'?item.activityScore:item.defaultScore}}</strong>积分
						</span>
						<span class="counter">
							<span class="delete" ng-click="delCount(item);" ng-class="item.amount==1?'disabled':''">-</span>
							<span>{{item.amount}}</span>
							<span class="add" ng-click="addCount(item);">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="product-total" ng-if="renderData.fromType!='lottery'">
				合计：{{(item.activityType=='01'||item.activityType=='02'?item.activityScore:item.defaultScore)*item.amount}}积分
			</div>
		</div>
	</div>
	<!-- 底部工具栏 -->
	<div class="operation">
		<span class="operation-tab showpay" ng-click="showPayDetailFn();">{{renderData.fromType!='lottery'?'立即兑换':'立即领取'}}</span>
	</div>
	<!-- 付款详情 -->
	<div class="pay" ng-show="showPayDetail">
		<div class="pay-cover" ng-click="hidePayDetail();"></div>
    	<div class="pay-container">
			<div class="pay-title">付款详情</div>
			<div class="pay-item">
				<label>订单信息：</label><span>{{orderInfo}}</span>
			</div>
			<div class="pay-item">
				<label>付款方式：</label><span>完美人生积分</span>
			</div>
			<div class="pay-item">
				<label>付款金额：</label><span>{{totalScore}}积分</span>
			</div>
			<div class="pay-item">
				<label>验证码：</label>
				<input type="text" autocomplete="off" placeholder="请输入右侧数字验证码" maxlength="4" 
				ng-model="verificationCode" ng-keyup="checkVerificationCode();" ng-blur="checkVerificationCode();"/>
				<img ng-src="{{verificationCodeImage}}" ng-click="getVerificationCodeImage();"/>
			</div>
			<div class="error forVerificationCode" ng-if="!checkVerificationCode()||isErrorCallbackReceiverName">{{errorMessageVerificationCode}}</div>
			<div class="btn-area">
				<button class="btn" ng-class="form.isRequesting?'disabled':''" ng-click="pay();">
					{{renderData.fromType!='lottery'?'确定付款':'确定领取'}}
				</button>
			</div>
    	</div>
	</div>
</div>