<div class="main integral-draw-detail">
	<!-- 图片 -->
	<div class="image"></div>
	<!-- 名称/积分/收藏 -->
	<div class="pannel">
		<div class="name">
			<span class="tag">特惠</span>贝德玛（Bioderma）舒妍洁肤液500ml卸妆水（粉水 卸妆 眼唇 舒缓 保湿）
		</div>
		<div class="count">{{'100'}}积分</div>
	</div>
	<!-- 活动规则 -->
	<div class="rule">
		<div class="rule-title">活动规则</div>
		<ul class="rule-content">
			<li>每位会员每天可无限次抽奖</li>
			<li>奖品图片仅供参考，具体以实物为准</li>
			<li>XX公司对本活动拥有最终解释权</li>
		</u;>
	</div>
	<!-- 产品详情 -->
	<div class="detail">
		<div class="detail-title">产品详情</div>
		<div class="detail-content">此处为商品详情...</div>
	</div>
	<!-- 底部工具栏 -->
	<div class="operation">
		<button class="btn">立即抽奖</button>
	</div>
</div>