<div class="main integral-draw">
	<!-- 列表 -->
	<div class="list dropload-list">
		<div class="list-item" ng-repeat="item in renderData">
			<img ng-src="{{item.imageUrl}}"/>
			<span class="name-integral-btn">
				<span class="name">{{item.productName}}</span>
				<span class="integral-btn">
					<span class="integral">{{item.activityScore}}积分</span>
					<button class="btn" ng-click="toScoreLotteryDetail(item);">立即抽奖</button>
				</span>
			</span>
		</div>
	</div>
	<!-- 底部工具栏 -->
	<div class="operation">
		<span class="operation-tab">
			<button class="btn" ng-click="showWinningRecordList();">往期中奖</button>
		</span>
		<span class="operation-tab">
			<button class="btn" ng-click="toMyWinnerRecordPath();">我的中奖纪录</button>
			<span class="count">{{myTotalCount}}</span>
		</span>
	</div>
	<!-- 往期中奖 -->
	<div class="popup" ng-show="showWinningRecord">
		<div class="popup-container">
			<div class="popup-title">中奖公示</div>
			<div class="popup-content" id="recordList">
				<ul id="recordListOne">
					<li ng-repeat="item in renderDataReward">
						<span class="name">{{item.userName}}</span>
						<span class="mobile">{{item.mobile}}</span>
						<span class="prize">{{item.productName}}</span>
					</li>
				</ul>
                <ul id="recordListTwo"></ul>
			</div>
			<div class="popup-btn">
				<button class="btn" ng-click="showWinningRecord=false;">我知道了</button>
			</div>
		</div>
	</div>
</div>