<div class="main integral-ecard">
	<!-- 表单 -->
	<ul class="form">
		<li class="form-item">
			<label>卡号：</label>
			<span class="text">
				<input type="text" autocomplete="off" placeholder="请输入16位卡号,不区分大小写"/>
			</span>
		</li>
		<li class="form-item">
			<label>验证码：</label>
			<span class="text">
				<input type="text" autocomplete="off" placeholder="请输入4位验证码"/>
			</span>
		</li>
	</ul>
	<!-- 兑换按钮 -->
	<div class="btn-area">
		<button class="btn">兑换</button>
	</div>
</div>