<div class="main integral-detail">
	<!-- 积分概览 -->
	<div class="total">
		<div class="total-tab">
			<span class="desc">可用积分</span>
			<span class="count">{{renderData.totalScore | formatCount}}</span>
		</div>
		<div class="total-tab">
			<span class="desc">消费积分</span>
			<span class="count">{{renderData.expenseScore | formatCount}}</span>
		</div>
	</div>
	<!-- 积分月份列表 -->
	<div class="list">
		<dl class="list-item" ng-repeat="item in renderData.scoreMonthList">
			<dt ng-class="item.show?'to-show':'to-more'" ng-click="showMonthDetail(item);">{{item.month}}</dt>
			<dd ng-if="item.show">
				<ul>
					<li ng-repeat="subItem in item.monthDetailList" ng-class="{'light': subItem.scoreValue>0}">
						<span class="date">{{subItem.recordDate}}</span>
						<span class="name">{{subItem.operateRemark}}</span>
						<span class="count">{{subItem.scoreValue}}</span>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>