<div class="main integral-mall">
	<!-- 广告幻灯片 -->
	<div class="banner">
		<img src="../images/upload/image-banner.png"/>
	</div>
	<!-- 积分概览 -->
	<div class="total to-more">
		<i class="icon icon-server"></i>
		积分：<span>{{'50000'}}</span>
	</div>
	<!-- 栏目 -->
	<div class="column">
		<div class="column-item">
			<img src="../images/design/icon-earnIntegral.png"/>
			{{'赚积分'}}
		</div>
		<div class="column-item">
			<img src="../images/design/icon-exchangeCenter.png"/>
			{{'兑换中心'}}
		</div>
		<div class="column-item">
			<img src="../images/design/icon-integralEcard.png"/>
			{{'积分E卡'}}
		</div>
		<div class="column-item">
			<img src="../images/design/icon-integralOrder.png"/>
			{{'积分订单'}}
		</div>
	</div>
	<!-- 积分抽奖 -->
	<dl class="draw">
		<dt class="draw-title to-more">
			小积分、抽大奖
		</dt>
		<dd class="draw-content">
			<span><img src="../images/upload/image-banner-integralDraw-one.png"/></span>
			<span><img src="../images/upload/image-banner-integralDraw-two.png"/></span>
		</dd>
	</dl>
	<!-- 热门推荐 -->
	<dl class="hot">
		<dt class="hot-title to-more">
			热门推荐
		</dt>
		<dd class="hot-content">
			<span><img src="../images/upload/image-banner-hot-one.png"/></span>
			<span><img src="../images/upload/image-banner-hot-two.png"/></span>
			<span><img src="../images/upload/image-banner-hot-one.png"/></span>
			<span><img src="../images/upload/image-banner-hot-two.png"/></span>
		</dd>
	</dl>
	<!-- 积分天天赚 -->
	<dl class="earn">
		<dt class="earn-title to-more">
			积分天天赚
		</dt>
		<dd class="earn-content">
			<span><img src="../images/upload/image-banner-earnIntegral-one.png"/></span>
			<span><img src="../images/upload/image-banner-earnIntegral-two.png"/></span>
		</dd>
	</dl>
	<!-- 常见问题 -->
	<div class="problem to-more">常见问题</div>
</div>