<div class="main integral-draw">
	<!-- 列表 -->
	<div class="list">
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="integral-btn">
					<span class="integral">{{'99'}}积分</span>
					<button class="btn">立即抽奖</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="integral-btn">
					<span class="integral">{{'99'}}积分</span>
					<button class="btn">立即抽奖</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="integral-btn">
					<span class="integral">{{'99'}}积分</span>
					<button class="btn">立即抽奖</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="integral-btn">
					<span class="integral">{{'99'}}积分</span>
					<button class="btn">立即抽奖</button>
				</span>
			</span>
		</div>
	</div>
	<!-- 底部按钮 -->
	<div class="btn-area">
		<button class="btn">往期中奖</button>
		<button class="btn">我的中奖纪录</button>
	</div>
	<!-- 往期中奖 -->
	<div class="popup">
		<div class="popup-title">中奖公示</div>
		<div class="popup-content">
			<ul>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
				<li>
					<span class="name">李**</span>
					<span class="mobile">134****4558</span>
					<span class="prize">京东50元购物券</span>
				</li>
			</ul>
		</div>
		<div class="popup-btn">
			<button class="btn">我知道了</button>
		</div>
	</div>
</div>