<div class="main logistics">
	<!-- 快递公司信息 -->
	<div class="express">
		<img src="../images//upload/image-product.png"/>
		<div class="name-code">
			<span class="name">
				快递公司：{{'顺丰快递'}}
			</span>
			<span class="code">
				快递单号：{{'SZ201405550008'}}
			</span>
		</div>
	</div>
	<!-- 物流信息 -->
	<div class="process">
		<div class="process-item">
			<span class="point-line"></span>
			<span class="date-desc">
				<span class="date">2017-05-25 17:25:49</span>
				<span class="desc">深圳南山科技园大厦 - 已收货</span>
			</span>
		</div>
		<div class="process-item">
			<span class="point-line"></span>
			<span class="date-desc">
				<span class="date">2017-05-25 17:25:49</span>
				<span class="desc">深圳南山科技园大厦 - 已收货</span>
			</span>
		</div>
		<div class="process-item">
			<span class="point-line"></span>
			<span class="date-desc">
				<span class="date">2017-05-25 17:25:49</span>
				<span class="desc">深圳南山科技园大厦 - 已收货</span>
			</span>
		</div>
		<div class="process-item">
			<span class="point-line"></span>
			<span class="date-desc">
				<span class="date">2017-05-25 17:25:49</span>
				<span class="desc">深圳南山科技园大厦 - 已收货</span>
			</span>
		</div>
	</div>
</div>