<div class="main logistics">
	<!-- 快递公司信息 -->
	<div class="express">
		<img ng-src="{{renderData.imageUrl}}"/>
		<div class="name-code">
			<span class="name">
				<label>快递公司：</label>{{renderData.expressName}}
			</span>
			<span class="code">
				<label>快递单号：</label>{{renderData.expressCode}}
			</span>
		</div>
	</div>
	<!-- 物流信息 -->
	<div class="process">
		<div class="process-item" ng-repeat="item in renderData.expressDetail">
			<span class="point-line">
				<span class="point"></span>
				<span class="line"></span>
			</span>
			<span class="date-desc">
				<span class="date">{{item.date}}</span>
				<span class="desc">{{item.desc}}</span>
			</span>
		</div>
	</div>
</div>