<div class="main my-integral">
	<!-- 概览 -->
	<div class="total">
		<div class="total-title">
			<i class="icon icon-server"></i>
			总积分：
		</div>
		<div class="total-content">
			{{renderData.totalScore | formatCount}}
		</div>
		<div class="total-tab">
			<span ng-click="form.goPath('integralDetail');">积分明细</span>
			<span ng-click="form.goPath('integralRule');">积分规则</span>
		</div>
	</div>
	<!-- 猜你喜欢 -->
	<div class="more" ng-if="renderData.bannerListA005.length">
		<div class="more-title">猜你喜欢</div>
		<div class="more-content">
			<div class="item to-more" ng-repeat="item in renderData.bannerListA005 | orderBy:['sortNo']" ng-click="goBannerPath(item);">
				<img ng-src="{{item.imageUrl}}"/>
				<span class="name">{{item.advertName.split('-')[0]}}</span>
				<span class="desc">{{item.advertName.split('-')[1]}}</span>
			</div>
		</div>
	</div>
</div>