<div class="main my-integral">
	<!-- 概览 -->
	<div class="total">
		<div class="total-title">
			<i class="icon"></i>
			总积分：
		</div>
		<div class="total-content">
			{{'50.000'}}
		</div>
		<div class="total-tab">
			<span>积分明细</span>
			<span>积分规则</span>
		</div>
	</div>
	<!-- 猜你喜欢 -->
	<div class="more">
		<div class="more-title">猜你喜欢</div>
		<div class="more-content">
			<div class="item">
				<i class="icon"></i>
				<span class="name">积分抽奖</span>
				<span class="desc">99积分兑换好礼</span>
			</div>
			<div class="item">
				<i class="icon"></i>
				<span class="name">积分兑换</span>
				<span class="desc">花积分兑换好礼</span>
			</div>
			<div class="item">
				<i class="icon"></i>
				<span class="name">每日签到</span>
				<span class="desc">签到赢积分</span>
			</div>
		</div>
	</div>
</div>