<div class="main my-winning-record">
	<!-- 列表 -->
	<div class="list dropload-list">
		<div class="list-item" ng-repeat="item in renderData">
			<img ng-src="{{item.imageUrl}}"/>
			<span class="name-time-btn">
				<span class="name">{{item.productName}}</span>
				<span class="time-btn">
					<span class="time">{{item.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					<button class="btn" ng-class="item.statusCode=='02'?'disabled':''" ng-click="toFillOrderPath(item);">
						{{item.statusCode=='02'?'已领取':'领取'}}
					</button>
				</span>
			</span>
		</div>
	</div>
</div>