<div class="main my-winning-record">
	<!-- 列表 -->
	<div class="list">
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="time-btn">
					<span class="time">{{'2017-05-20 18:25:48'}}</span>
					<button class="btn">领取</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="time-btn">
					<span class="time">{{'2017-05-20 18:25:48'}}</span>
					<button class="btn">领取</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="time-btn">
					<span class="time">{{'2017-05-20 18:25:48'}}</span>
					<button class="btn">领取</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="time-btn">
					<span class="time">{{'2017-05-20 18:25:48'}}</span>
					<button class="btn">领取</button>
				</span>
			</span>
		</div>
		<div class="list-item">
			<img src="../../../src/img/shopping_img.png"/>
			<span class="name-integral-btn">
				<span class="name">{{'爱奇艺一年会员卡(爱奇艺一年会员白金级别金卡)'}}</span>
				<span class="time-btn">
					<span class="time">{{'2017-05-20 18:25:48'}}</span>
					<button class="btn">领取</button>
				</span>
			</span>
		</div>
	</div>
</div>