<div class="main order-detail">
	<!-- 订单/物流 -->
	<div class="order">
		<div class="order-code-status">
			<span class="order-code">订单号：{{renderData.detail.orderCode}}</span>
			<span class="status" ng-class="renderData.detail.statusCode=='05'?'complete':''">{{renderData.detail.statusDesc}}</span>
		</div>
		<div class="logistics" ng-if="renderData.logistics.expressDetail">
			<i class="icon icon-local_shipping"></i>
			<div class="date-desc">
				<div class="date">{{renderData.logistics.expressDetail[0].date}}</div>
				<div class="desc">{{renderData.logistics.expressDetail[0].desc}}</div>
			</div>
		</div>
	</div>
	<!-- 收件地址 -->
	<div class="address">
		<i class="icon icon-location-outline"></i>
		<div class="name-mobile-detail">
			<div class="name-mobile">
				<span class="name">{{renderData.detail.receiverName}}</span>
				<span class="mobile">{{renderData.detail.mobileCode}}</span>
			</div>
			<div class="detail">{{renderData.detail.detailAddress}}</div>
		</div>
	</div>
	<!-- 商品 -->
	<div class="product">
		<img ng-src="{{renderData.detail.imageUrl}}"/>
		<div class="name-count-integral">
			<div class="name">{{renderData.detail.productName}}</div>
			<div class="count-integral">
				<span class="count">数量：{{renderData.detail.productAmount}}件</span>
				<span class="integral">消费：{{renderData.detail.scoreValue}}积分</span>
			</div>
		</div>
		<div class="total">合计：{{renderData.detail.scoreValue}}积分</div>
		<div class="time">下单时间：{{renderData.detail.orderDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
	</div>
	<!-- 底部工具栏 -->
	<div class="operation">
		<span class="operation-tab" ng-if="renderData.detail.statusCode=='04'||renderData.detail.statusCode=='05'" ng-click="toLogisticsPath(renderData.detail.orderCode);">查看物流</span>
		<span class="operation-tab cancel" ng-if="renderData.detail.isCancel=='01'" ng-click="cancelOrder(renderData.detail.orderCode);">取消订单</span>
	</div>
</div>