<!--新增地址-->
<div class="addressEdit">
    <div class="ae_edit">
        <div class="ae_items">
            <div class="ae_label">收件人：</div>
            <div class="ae_input">
                <input type="text" placeholder="请输入收件人姓名" ng-model="form.addressDetail.receiveName">
            </div>
            <div class="ae_line"></div>
        </div>
        <div class="errorTips" ng-if="false"><span>! 含有特殊字符</span></div>
        <div class="ae_items">
            <div class="ae_label">联系方式：</div>
            <div class="ae_input">
                <input type="text" placeholder="请输入收件人手机号" ng-model="form.addressDetail.mobile">
            </div>
            <div class="ae_line"></div>
        </div>
        <div class="errorTips" ng-if="false"><span>! 含有特殊字符</span></div>
        <div class="ae_items" ng-click="selectCity();">
            <div class="ae_label">所在地区：</div>
            <div class="ae_input">
                <span ng-if="!isNoAddress" class="address-area">{{form.addressDetail.provinceName + form.addressDetail.cityName + form.addressDetail.countyName}}</span>
                <input ng-if="isNoAddress" type="text" placeholder="请选择" class="area">
            </div>
            <div class="ae_line"></div>
        </div>
        <div style="display: none;">
        	<ul id="addressData">
        		<li ng-repeat="item in chinaData">
        			{{item.name}}
        			<ul>
        				<li ng-repeat="subItem in item.cities">
        					{{subItem.name}}
        					<ul>
        						<li ng-repeat="littleItem in subItem.districts">
        							{{littleItem.name}}
        						</li>
        					</ul>
        				</li>
        			</ul>
        		</li>
        	</ul>
        </div>
        <div class="errorTips" ng-if="false"><span>! 含有特殊字符</span></div>
        <div class="ae_items">
            <div class="ae_label">详细地址：</div>
            <div class="ae_input">
                <input type="text" placeholder="请输入街道、楼牌号等" ng-model="form.addressDetail.detail">
            </div>
            <div class="ae_line"></div>
        </div>
        <div class="errorTips" ng-if="false"><span>! 含有特殊字符</span></div>
    </div>


    <div class="ae_end">
        <div class="ae_end_line"></div>
        <div class="ae_border blue" ng-click="saveAddress();">保存</div>
    </div>
</div>
<style type="text/css">
	.address-area{
		display: inline-block;
		width: 100%;
		padding: 2% 0;
		font-size: 1.4em;
	}
</style>