<!--填写订单-->
<div class="fill_order">

    <div class="userInfo" ng-click="toAddressManagerPath();">
        <div class="floatLeft UserName">{{renderData.addressInfo.receiveName}}</div>
        <div class="floatLeft UserPhone">{{renderData.addressInfo.mobile}}</div>
        <div class="floatLeft UserLabel"><span class="">默认地址</span></div>
        <div class="floatLeft UserAddress">
            <span class="Address1">{{renderData.addressInfo.provinceName+renderData.addressInfo.cityName+renderData.addressInfo.countyName}}</span>
            <span class="Address2">{{renderData.addressInfo.detail}}</span>
        </div>
    </div>

    <div class="items" ng-if="renderData.selectedList.length">
        <div class="itemInfo" ng-repeat="item in renderData.selectedList">
            <div class="top">
                <div class="itemCode">编号: <span class="">{{item.productCode}}</span> {{item.type=='1'?'(特惠)':''}}</div>
                <div class="line"></div>
                <div class="detailed_information">
                    <div class="floatLeft item_L">
                        <img width="100%" src="../img/shopping_img.png" alt="">
                    </div>
                    <div class="floatLeft item_R">
                        <div class="ItemName">{{item.productName}}</div>
                        <div class="itemIntegral"><span class="blue">{{item.scoreValue}}</span> 积分</div>
                        <div class="numberCtrl">
                            <div class="floatLeft numberReduction" ng-click="delCount(item);">-</div>
                            <div class="floatLeft number blue">{{item.num}}</div>
                            <div class="floatLeft numberAdd" ng-click="addCount(item);">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="bottom">合计: <span>{{item.scoreValue*item.num}}</span> 积分</div>
        </div>
    </div>
    <div style="line-height: 28px; text-align: center;" ng-if="!renderData.selectedList.length">暂时没有数据,请稍后查询.</div>

    <div class="exchange_button" ng-click="showPayDetail=!showPayDetail;">立即兑换</div>

    <div class="popupPay" ng-show="showPayDetail">
    	<div class="layout-cover" ng-click="hidePayDetail();"></div>
        <div class="PayMain">
            <div class="l1">付款详情</div>
            <div class="line"></div>
            <div class="l2">
                <div class="floatLeft">订单信息:</div>
                <div class="floatRight">LK堂皇高弹按年镇TH0021</div>
            </div>
            <div class="line"></div>
            <div class="l3">
                    <div class="floatLeft">付款方式:</div>
                    <div class="floatRight">完美人生积分</div>
            </div>
            <div class="line"></div>
            <div class="l4">
                <div class="floatLeft">付款金额:</div>
                <div class="floatRight">{{totalScore}}积分</div>
            </div>
            <div class="line"></div>
            <div class="l5">
                <div class="floatLeft">验证码:</div>
                <div class="floatLeft Code"><input class="input_Code" autocomplete="off" type="text" placeholder="请输入右侧数字验证码" ng-model="verificationCode"/></div>
                <div class="floatRight codeImg"><img width="100%" ng-src="{{verificationCodeImage}}" alt="" ng-click="getVerificationCodeImage();"></div>
            </div>
            <div class="line"></div>
            <div class="errorTips">!请输入正确验证码</div>
            <div class="payButton" ng-click="pay();">确定付款</div>
        </div>
    </div>

</div>
<style type="text/css">
	.layout-cover{
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0);
	}
</style>