<div class="groupsA_exchange_item">

    <!--轮播图-->
    <div class="ItemIMG">

        <div class="scrollImg" id="scrollImg" style="">
            <ul>
                <li class="floatLeft" ng-repeat="item in renderData.imageUrl">
                    <img ng-src="{{item.url}}" alt="">
                </li>
            </ul>
        </div>

        <div class="points">
            <span class="point blue">.</span>
            <span class="point">.</span>
            <span class="point">.</span>
            <span class="point">.</span>
        </div>
    </div>
    <!--轮播图-->


    <!--物品名称-->
    <div class="ItemName">
        <img width="10%" src="../img/tehui.png" alt="特惠" ng-if="renderData.type=='1'">
        <span class="name">{{renderData.productName}}</span>
    </div>
    <!--物品名称-->

    <!--收藏,特惠,积分-->
    <div class="ItemCollection">
        <div class="t1">
            <div class="left">
                <div class="floatLeft blue number">
                    <span class="fs14" style="">{{renderData.scoreValue}}</span>
                    <span style="font-size: 1em">积分</span>
                </div>
            </div>
            <div class="right">
                <div class="floatLeft collectIcon">
                    <img ng-show="renderData.favorite=='0'" ng-click="addFavorite();" width="100%" class="" src="../img/未收藏.png" alt="">
                    <img ng-show="renderData.favorite=='1'" ng-click="delFavorite();" width="100%" class="" src="../img/yishoucang.png" alt="">
                </div>
                <div class="floatLeft collectIconFont">{{renderData.favorite=='0'?'未收藏':'已收藏'}}</div>
            </div>
        </div>

    </div>
    <!--收藏,特惠,积分-->

    <!--简介-->
    <div class="itemCode">礼品编号:<span class="ml2p">{{renderData.productCode}}</span></div>
    <div class="itemColor">礼品颜色:<span class="ml2p">(04){{renderData.color}}</span></div>
    <div class="itemNumber">
        <div class="floatLeft" style="line-height: 200%">兑换数量:</div>
        <div class="blueBox1 floatLeft ml2p" ng-click="delCount(item);"> -</div>
        <div class="blueBox2 floatLeft blue">{{renderData.number}}</div>
        <div class="blueBox3 floatLeft" ng-click="addCount(item);">+</div>
    </div>
    <!--简介-->

    <!--产品详情TAB-->
    <div class="Product_tab" ng-click="showDetail=!showDetail;">
        <div class="floatLeft">产品详情</div>
        <div class="floatLeft" style="margin-left: 76%;width: 4.5%">
        	<img ng-show="showDetail" style="width: 100%" src="../img/moreUp.png" alt="">
        	<img ng-show="!showDetail" style="width: 100%" src="../img/moreDown.png" alt="">
        </div>
    </div>
    <!--产品详情TAB-->

    <!--产品详情内容-->
    <div class="ItemInfo" ng-show="showDetail">
    	{{renderData.detail}}
    </div>
    <!--产品详情内容-->

    <div class="bottom"></div>


    <!--底栏-->
    <div class="bottomTool">
        <div class="myShoppingNum">{{renderData.shoppingCartNumber}}</div>
        <div class="myShopping">
            <div class="floatLeft myShoppingIcon"><img width="100%" src="../img/gouwuche.png" alt=""></div>
            <div class="floatLeft myShoppingFont" style="margin-left: 15%">购物车</div>
        </div>
        <div class="verticalLine"></div>
        <div class="addMyShopping" ng-click="addToShoppingCart();">加入购物车</div>
        <div class="Settlement" ng-click="toFillOrderPath();">立即兑换</div>
    </div>
    <!--底栏-->
</div>