<div class="groupsA_problems">
    <div class="tab1">配送时间</div>
    <div class="line1"></div>
    <div class="fontA bg_white">
        <ul>
            <li>订单成功核准到收到商品，一般需要多长时间？</li>
        </ul>
    </div>
    <div class="fontC bg_white tab1_font">
        订单成功后客户可在3-7个工作日内收到商品。
        若未成功收到礼品或礼品缺少配件，请致电<br>
        400-888-8288
    </div>

    <div class="tab2">售后保障</div>
    <div class="line1"></div>

    <div class="fontA bg_white">
        <ul>
            <li>如何退换货?</li>
        </ul>
    </div>
    <div class="bg_white fontC tab2_font">
        如果没有质量问题不能拒收，由于您的个人原因
        拒签或者退换货，客户需自行支付配送费用。如
        果有任何的质量问题，你只需在相应订单处申请
        即可。根据各种产品的特性不同，退货政策具体
        实施细则存在差异，请参照退换货政策。
    </div>
    <div class="line1"></div>

    <div class="fontA bg_white">
        <ul>
            <li>以下情况不予办理退货:</li>
        </ul>
    </div>
    <div class="line1"></div>
    <div class="fontC bg_white tab3">
        <ul>
            <li>
                <div class="lh">任何非由我们出售或配送的商品；</div>
                <div class="line2"></div>
            </li>
            <li>
                <div class="lh">任何已使用过的商品，但有质量问题除外；</div>
                <div class="line2">

            </li>
            <li>
                <div class="lh">
                    任何因非正常使用及保管导致出现质量问题的商品。
                </div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">保健品、食品为特殊商品，为保证广大客户的安全利益，一旦售出不接受退换，敬请谅解。
                </div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">赠品及折扣商品：赠品、折扣礼品，一经售出，非质量问题不退换。
                </div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">贴身衣物：内衣、内裤等贴身衣物，出于卫生考虑问题，一经使用，非质量问题不接受退换，敬请谅解。
                </div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">化妆品、护肤品等敏感特殊礼品一经折封，为保证广大客户的安全利益，非质量问题，恕不退换，敬请谅解！
                </div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="attention blue">需注意的是：一张订单我们只为您提供一次退换货服务，为了确保您的权益，请考虑周全后与我公司联系；请您确保退换货时，商品吊牌及各种包装完整。
                </div>
            </li>
        </ul>


    </div>
</div>