<div class="groupsA_exchange">

    <!--loading-->
    <div class="loading">
        <img src="../img/loading.gif" alt="">
    </div>
    <!--loading-->



    <!--工具栏更多-->
    <div class="toolMore" ng-show="showMoreMenu">
        <img class="angle" src="../img/jiao.png" alt="">
        <div class="lists">
            <div class="list" ng-click="form.goPath('shoppingCart');">
                <img class="floatLeft" src="../img/gouwuche.png" alt="">
                <div class="floatLeft">购物车</div>
            </div>
            <div class="list" ng-click="form.goPath('addressManager');">
                <img class="floatLeft" src="../img/address_small.png" alt="">
                <div class="floatLeft">收货地址</div>
            </div>
            <div class="list" ng-click="form.goPath('myCollection');">
                <img class="floatLeft" src="../img/myCollect.png" alt="">
                <div class="floatLeft">我的收藏</div>
            </div>
        </div>
    </div>
    <!--工具栏更多-->

	<div ng-switch="filterType">
    <!--分类-->
    <div class="tool_tab1" ng-if="showClassification">
        <div class="title">所有礼品</div>

        <!--分类列表-->
        <div class="category_lists">
            <div class="list" ng-class="item.dataValue==form.category?'blue':''" ng-repeat="item in renderData.classifical" ng-click="getList('classifical',item);">
                <div class="listIcon">
                    <img ng-src="{{item.imageUrl}}" alt="{{item.dataText}}">
                </div>
                <div class="listFont">{{item.dataText}}</div>
            </div>
        	<!--
            <div class="list">
                <div class="floatLeft listIcon"><img  src="../img/black4.png" alt=""></div><div class="floatLeft listFont">家居生活</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon"><img  src="../img/black10.png" alt=""></div><div class="floatLeft listFont">数码电子</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon"><img  src="../img/black11.png" alt=""></div><div class="floatLeft listFont">文本玩具</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon"><img  src="../img/black9.png" alt=""></div><div class="floatLeft listFont">食品保健</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon2"><img  src="../img/black5.png" alt=""></div><div class="floatLeft listFont">美容配饰</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon2"><img src="../img/black3.png" alt=""></div><div class="floatLeft listFont">户外运动</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon"><img  src="../img/black6.png" alt=""></div><div class="floatLeft listFont">汽车用品</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon"><img  src="../img/black12.png" alt=""></div><div class="floatLeft listFont">虚拟卡券</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon2"><img  src="../img/black8.png" alt=""></div><div class="floatLeft listFont">生活电器</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon3"><img  src="../img/black7.png" alt=""></div><div class="floatLeft listFont">箱包皮具</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon3"><img  src="../img/black1.png" alt=""></div><div class="floatLeft listFont">厨房用具</div>
            </div>
            <div class="list">
                <div class="floatLeft listIcon2"><img  src="../img/black2.png" alt=""></div><div class="floatLeft listFont">个人护理</div>
            </div>
           -->
        </div>
        <!--分类列表-->

    </div>
    <!--分类-->

    <!--兑换量-->
    <!--<div class="tool_tab2" ng-if="showExchangeAmount">兑换量</div>-->
    <!--兑换量-->

    <!--积分-->
    <!--<div class="tool_tab3" ng-if="showIntegral">积分</div>-->
    <!--积分-->


    <!-- 积分跨度弹窗 -->
    <div class="tool_tab4" ng-if="showIntegralSpan">
        <div class="tool_tab4_width">
        	<div class="list" ng-class="form.interval==item.key?'blue':''" ng-repeat="item in renderData.integralSpan" ng-click="getList('integralSpan',item);">
        		<div class="floatLeft">{{item.value}}</div>
                <div class="gouIcon" ng-if="form.interval==item.key">
                    <img src="../img/gou.png">
                </div>
        	</div>
			<!--
            <div class="list "><div class="floatLeft">0~10000分</div></div>
            <div class="list blue">
                <div class="floatLeft">10000~15000分</div>
                <div class="gouIcon">
                    <img src="../img/gou.png" alt="">
                </div>
            </div>
            <div class="list "><div class="floatLeft">15000~30000分</div></div>
            <div class="list "><div class="floatLeft">30000分以上</div></div>
			-->
        </div>

    </div>
    <!-- 积分跨度 -->
	</div>

    <!--topTitle-->
    <!--<div class="topTitle">-->
        <!--<div class="back"></div>-->
        <!--<div class="topTitleName">兑换中心</div>-->
    <!--</div>-->
    <!--topTitle-->

    <!--搜索工具栏-->
    <div class="SearchToolbar">
        <img class="integralIMG" src="../img/jifen.png" alt="">
        <div class="integral blue">10000</div>
        <div class="search"><img class="searchIcon" src="../img/sousuo.png" alt=""><input type="text" placeholder="搜索" ng-model="form.searchKey" ng-focus="form.goPath('search');">
        </div>
        <div class="more" ng-click="showMoreMenu=!showMoreMenu;"><img width="100%" src="../img/more.png" alt=""></div>
    </div>
    <!--搜索工具栏-->

    <!--分类,兑换量,积分,区间-->
    <div class="filterToolbar">

        <div class="classification" ng-click="showClassificationFn();">
            <span class="">{{form.categoryName}}</span>
            <img class="ToolIcon" ng-show="!showClassification" src="../img/moreDown.png">
            <img class="ToolIcon" ng-show="showClassification" src="../img/moreUp.png">
        </div>

        <div class="line" style="left: 25%"></div>

        <div class="exchangeTheNumber" ng-click="getList('exchangeAmount');">
            <span class="">兑换量</span>
            <img class="ToolIcon" ng-show="form.sortType=='1'" src="../img/moreDown.png">
            <img class="ToolIcon" ng-show="form.sortType=='2'" src="../img/moreUp.png">
        </div>
        <div class="line" style="left: 50%"></div>

        <div class="integral" ng-click="getList('integral');">
            <span class="">积分</span>
            <img class="ToolIcon2" ng-show="form.sortType=='3'" src="../img/moreDown.png">
            <img class="ToolIcon2" ng-show="form.sortType=='4'" src="../img/moreUp.png">
        </div>
        <div class="line" style="left: 75%"></div>
        <div class="integralType" ng-click="showIntegralSpanFn();">
            <div class="floatLeft iT">
            	{{form.interval=='0'?'区间':form.interval=='1'?'0-1W':form.interval=='2'?'1W-1.5W':form.interval=='3'?'1.5W-3W':form.interval==4?'3W以上':''}}
            </div>
            <img class="floatLeft ToolIcon" ng-show="!showIntegralSpan" src="../img/moreDown.png">
            <img class="floatLeft ToolIcon" ng-show="showIntegralSpan" src="../img/moreUp.png">
    	</div>
    </div>
    <!--分类,兑换量,积分,区间-->

    <!--物品展示-->
    <div class="showItems">
        <div class="Item" ng-repeat="item in renderData.shopList" ng-click="form.goPath('groupsExchangeItem/'+item.productCode);">
            <div class="itemImg"><img width="100%" ng-src="{{item.imageUrl}}" alt="{{item.productName}}"></div>
            <div class="name titleGrey">{{item.productName}}</div>
            <div class="NeedPoints">
                <div class="floatLeft number blue">{{item.scoreValue}} 积分</span></div>
                <div class="floatLeft"><img ng-if="item.type=='1';" src="../img/tehui.png"></div>
            </div>
        </div>
    	<!--
        <div class="Item" ng-click="form.goPath('groupsExchangeItem');">
            <div class="itemImg"><img width="100%" src="../img/shoppingCart/shopping_img.png" alt=""></div>
            <div class="name">LKa 堂皇高弹安 睡枕123 hello as ddi ijasd 堂皇高弹安 睡枕123 hello as ddi ijasd</div>
            <div class="NeedPoints">
                <div class="floatLeft number blue">40000 积分</span></div>
                <div class="floatLeft"><img class="" src="../img/tehui.png" alt=""></div>
            </div>
        </div>

        <div class="Item" ng-click="form.goPath('groupsExchangeItem');">
            <div class="itemImg"><img width="100%" src="../img/shoppingCart/shopping_img.png" alt=""></div>
            <div class="name">LKa 堂皇高弹安 睡枕123 hello as ddi ijasd 堂皇高弹安 睡枕123 hello as ddi ijasd</div>
            <div class="NeedPoints">
                <div class="floatLeft number blue">40000 积分</span></div>
                <div class="floatLeft"><img class="" src="../img/tehui.png" alt=""></div>
            </div>
        </div>
        <div class="Item" ng-click="form.goPath('groupsExchangeItem');">
            <div class="itemImg"><img width="100%" src="../img/shoppingCart/shopping_img.png" alt=""></div>
            <div class="name">LKa 堂皇高弹安 睡枕123 hello as ddi ijasd 堂皇高弹安 睡枕123 hello as ddi ijasd</div>
            <div class="NeedPoints">
                <div class="floatLeft number blue">40000 积分</span></div>
                <div class="floatLeft"><img class="" src="../img/tehui.png" alt=""></div>
            </div>
        </div>
        <div class="Item" ng-click="form.goPath('groupsExchangeItem');">
            <div class="itemImg"><img width="100%" src="../img/shoppingCart/shopping_img.png" alt=""></div>
            <div class="name">LKa 堂皇高弹安 睡枕123 hello as ddi ijasd 堂皇高弹安 睡枕123 hello as ddi ijasd</div>
            <div class="NeedPoints">
                <div class="floatLeft number blue">40000 积分</span></div>
                <div class="floatLeft"><img class="" src="../img/tehui.png" alt=""></div>
            </div>
        </div>

        <div class="Item" ng-click="form.goPath('groupsExchangeItem');">
            <div class="itemImg"><img width="100%" src="../img/shoppingCart/shopping_img.png" alt=""></div>
            <div class="name">LKa 堂皇高弹安 睡枕123 hello as ddi ijasd 堂皇高弹安 睡枕123 hello as ddi ijasd</div>
            <div class="NeedPoints">
                <div class="floatLeft number blue">40000 积分</span></div>
                <div class="floatLeft"><img class="" src="../img/tehui.png" alt=""></div>
            </div>
        </div>
		-->
    </div>


    <div class="bottomLoading">
        <div class="floatLeft loadingIcon"><img width="100%" src="../img/loadIcon.png" alt=""></div>
        <div class="floatLeft loadingFont">加载中...</div>
    </div>
</div>