<div class="logistics">

    <div class="ls_contain">
        <div class="ls_img">
        	<img ng-src="{{renderData.imageUrl}}"/>
        </div>
        <div class="ls_r">
            <div class="ls_name"><span class="titleGrey label">快递公司：</span><span class="blue info">{{renderData.expressName}}</span></div>
            <div class="ls_line"></div>
            <div class="ls_id"><span class="titleGrey">快递单号：</span><span class="blue info">{{renderData.expressCode}}</span></div>
        </div>
    </div>

    <div class="ls_detail_list" ng-if="renderData.expressDetail.length">
        <div class="ls_items" ng-repeat="item in renderData.expressDetail">
            <div class="ls_point"  ng-class="$index=='0'?'bgBlue':'bgGrey'"></div>
            <div class="ls_d blue" ng-class="$index=='0'?'blue':'grey'">
                <div>{{item.date}}</div>
                <div>{{item.desc}}</div>
            </div>
            <div class="ls_items_line"></div>
            <div class="bgGrey" ng-class="$index=='0'?'ls_progress_f':'ls_progress'"></div>
        </div>
    </div>
    <div style="line-height: 28px; text-align: center;" ng-if="!renderData.expressDetail.length">暂时没有数据,请稍后查询.</div>
</div>
<style type="text/css">
	.ls_img{
		background: transparent !important;
	}
	.ls_img img{
		width: 100%;
	}
</style>