<div>
    <div class="my_score_main">

        <!--积分-->
        <div class="score_av">
            <div class="score_av_title">
                <div class="icon"><img width="100%" src="../img/jifen.png" alt=""></div>
                <div class="font">总积分:</div>
            </div>
            <div class="score_av_number blue">119,705</div>
        </div>

        <div class="my_score_cs">
            <div class="score_cs_l">
                <div class="my_score_cs_title" ng-click="form.goPath('scoreDetail');">积分明细</div>
            </div>
            <div class="score_cs_m"></div>
            <div class="score_cs_r">
                <div class="my_score_cs_title" ng-click="form.goPath('scoreRule');">积分规则</div>
            </div>

        </div>

        <!--猜你喜欢-->
        <div class="my_score_guess">
            <div class="my_score_guess_title">猜你喜欢</div>

            <div class="my_score_guess_item" ng-click="form.goPath('scoreLotteryList');">
                <div class="my_score_guess_item_l_icon1"></div>
                <div class="my_score_guess_item_l_text">积分抽奖</div>
                <div class="my_score_guess_item_r_text">99积分兑好礼</div>
                <div class="my_score_guess_item_r_icon"></div>
            </div>
            <div class="my_score_guess_item" ng-click="form.goPath('groupsExchange');">
                <div class="my_score_guess_item_l_icon2"></div>
                <div class="my_score_guess_item_l_text">积分兑换</div>
                <div class="my_score_guess_item_r_text">花积分兑好礼</div>
                <div class="my_score_guess_item_r_icon"></div>
            </div>
            <div class="my_score_guess_item">
                <div class="my_score_guess_item_l_icon3"></div>
                <div class="my_score_guess_item_l_text">每日签到</div>
                <div class="my_score_guess_item_r_text">签到赢积分</div>
                <div class="my_score_guess_item_r_icon"></div>
            </div>

        </div>


    </div>
</div>
