<div class="my_winner_record">
    <div class="mlc_main">

        <!--往期中奖-->
        <!--<div class="mlc_address_set">-->
        <!--<div class="mlc_icon"></div>-->
        <!--<div class="mlc_arrow"></div>-->
        <!--<div class="mlc_text">我的中奖记录</div>-->
        <!--</div>-->

        <!--奖品列表-->
        <div class="mlc_shopping_list" ng-if="renderData.length">
            <div class="mlc_items" ng-repeat="item in renderData">
                <div class="mlc_items_c">
                    <div class="mlc_items_img">
                    	<img ng-src="{{item.imageUrl}}"/>
                    </div>
                    <div class="mlc_detail">
                        <div class="mlc_title">{{item.productName}}</div>
                        <div class="mlc_d">
                            <div class="mlc_score"><span class="">{{item.createDate}}</span></div>
                        </div>
                        <div class="mlc_do_lottery mlc_do_lottery_gray" ng-if="item.status=='1'">已领取</div>
                        <div class="mlc_do_lottery mlc_do_lottery_red" ng-if="item.status=='0'" ng-click="toFillOrderPath(item);">领取</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="line-height: 28px; text-align: center;" ng-if="!renderData.length">暂时没有数据,请稍后查询.</div>

        <div class="loadingToList">
            <div class="loadingIcon"><img width="100%" src="../img/loadIcon.png" alt=""></div>
            <div class="loadingFont">加载中...</div>
        </div>
    </div>

</div>
<style type="text/css">
	.my_winner_record .mlc_items_img{
		padding-bottom: 0 !important;
		background: transparent !important;
	}
	.my_winner_record .mlc_items_img img{
		width: 100%;
	}
</style>