<div>
    <div class="oe_main">
        <!--全选-->
        <div class="choose_all">
            <div class="choose_all_l"><img width="100%" src="../img/unCheck.png" alt=""></div>
            <div class="choose_all_r">全选</div>
            <div class="finish_icon"><img width="100%"  src="../img/finish.png" alt=""></div>
            <div class="finish">编辑</div>
        </div>
        <!--全选-->

        <div class="oe_shopping_list">
            <div class="oe_items">
                <div class="oe_items_id">编号：ZSXN2017010510000336081（特惠）</div>
                <div class="oe_items_c">
                    <div class="oe_items_img"></div>
                    <div class="oe_detail">
                        <div class="oe_title">LK堂皇高弹安睡枕LK 堂皇高弹安 枕LK 堂皇高弹安睡枕</div>
                        <div class="oe_d">
                            <div class="oe_score"><span class="blue">40500</span>积分</div>
                            <div class="oe_items_con">
                                <div class="oe_con_decrease">-</div>
                                <div class="oe_con_num blue">1</div>
                                <div class="oe_con_increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oe_items">
                <div class="oe_items_id">编号：ZSXN2017010510000336081（特惠）</div>
                <div class="oe_items_c">
                    <div class="oe_items_img"></div>
                    <div class="oe_detail">
                        <div class="oe_title">LK堂皇高弹安睡枕LK 堂皇高弹安 枕LK 堂皇高弹安睡枕</div>
                        <div class="oe_d">
                            <div class="oe_score"><span class="blue">40500</span>积分</div>
                            <div class="oe_items_con">
                                <div class="oe_con_decrease">-</div>
                                <div class="oe_con_num blue">1</div>
                                <div class="oe_con_increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oe_items">
                <div class="oe_items_id">编号：ZSXN2017010510000336081（特惠）</div>
                <div class="oe_items_c">
                    <div class="oe_items_img"></div>
                    <div class="oe_detail">
                        <div class="oe_title">LK堂皇高弹安睡枕LK 堂皇高弹安 枕LK 堂皇高弹安睡枕</div>
                        <div class="oe_d">
                            <div class="oe_score"><span class="blue">40500</span>积分</div>
                            <div class="oe_items_con">
                                <div class="oe_con_decrease">-</div>
                                <div class="oe_con_num blue">1</div>
                                <div class="oe_con_increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oe_items">
                <div class="oe_items_id">编号：ZSXN2017010510000336081（特惠）</div>
                <div class="oe_items_c">
                    <div class="oe_items_img"></div>
                    <div class="oe_detail">
                        <div class="oe_title">LK堂皇高弹安睡枕LK 堂皇高弹安 枕LK 堂皇高弹安睡枕</div>
                        <div class="oe_d">
                            <div class="oe_score"><span class="blue">40500</span>积分</div>
                            <div class="oe_items_con">
                                <div class="oe_con_decrease">-</div>
                                <div class="oe_con_num blue">1</div>
                                <div class="oe_con_increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="oe_end">
        <div class="oe_border">
            合计：<span class="blue integral">40500</span> 积分
        </div>
        <div class="commit_btn" ng-click="form.goPath('fillOrder');">去结算</div>
    </div>
</div>
