<!--订单详情页-->
<div class="order_details">

    <div class="Item">
        <div class="ItemID">
            <div class="floatLeft blue">订单号: <span>{{renderData.orderCode}}</span></div>
            <div class="floatRight red">{{renderData.statusDesc}}</div>
        </div>
        <div class="line"></div>
        <div class="ItemLogistics">
            <div class="LogisticsType">
                <div class="floatLeft LogisticsIcon"><img width="100%" src="../img/Logistics.png" alt=""></div>
                <div class="floatLeft time">{{renderData.expressDatail.date}}</div>
            </div>
            <div class="AddressInfo">{{renderData.expressDatail.desc}}</div>
        </div>
    </div>

    <div class="userInfo">
        <div class="username">
            <div class="floatLeft userIcon"><img width="100%" src="../img/address_small.png" alt=""></div>
            <div class="floatLeft name">{{renderData.receiverName}}</div>
            <div class="floatLeft time">{{renderData.mobileCode}}</div>
        </div>
        <div class="AddressInfo">{{renderData.detailAddress}}</div>
    </div>


    <div class="itemInfo">
        <div class="itemInfoTop">
            <div class="floatLeft itemImg">
                <img width="100%" ng-src="{{renderData.imageUrl}}" alt="{{renderData.productName}}">
            </div>
            <div class="floatLeft itemRight">
                <div class="ItemName">{{renderData.productName}}</div>
                <div class="itemStyle">
                    <span >数量:<span>{{renderData.productAmount}}</span> 件</span>
                    <span class="ItemColor">颜色: <span>{{'无'}}</span></span>
                    <span class="ItemConsumption">消费:</span> <span>{{'无'}}积分</span>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="itemInfoBottom">
            <div class="textRight ">合计:<span>{{renderData.scoreValue}}</span>积分</div>
            <div class="textRight">下单时间:<span>{{renderData.orderDate}}</span></div>
        </div>
    </div>

    <!--<div class="bottomTab" ng-if="renderData.statusCode!='04'&&renderData.statusCode!='05'"></div>-->
	<div class="bottomTab">
        <div class="vline"></div>
        <div class="checkLogistics blue" ng-click="toLogisticsPath(renderData.orderCode);">查看物流</div>
        <div class="CancelOrder" ng-click="cancelOrder(renderData.orderCode);">取消订单</div>
    </div>

</div>