<div style="background: #ffffff">
    <!--输入框-->
    <div class="e_card_edit">

        <div class="e_card_title">卡号：</div>
        <div class="e_card_code_holder">
            <input class="e_card_input" type="text" placeholder="请输入16位卡号（不区分大小写）" ng-model="cardNumber">
        </div>

        <div class="e_card_tips">! 您输入的卡号有误，请重新输入</div>

        <div class="e_card_title">验证码：</div>

        <div class="e_card_code_holder">
            <input class="e_card_input" type="tel" placeholder="请输入右侧数字验证码" ng-model="verificationCode">

            <img ng-click="getVerificationCodeImage();" class="e_card_code" ng-src="{{verificationCodeImage}}" alt="">
        </div>
        <div class="e_card_tips">! 您输入的验证码有误，请重新输入</div>
    </div>

    <!--按钮-->
    <div class="e_card_end">
        <div class="e_card_border" ng-click="exchange();">
            兑 &nbsp;&nbsp;&nbsp;&nbsp;换
        </div>
    </div>
</div>