<div class="score_rule">
    <div class="title fontA">积分规则明细</div>

    <div class="line1"></div>

    <div class="fontC bg_white tab3">
        <ul class="blue">
            <li>
                <div class="lh">积分 = 注册积分 + 标准积分（保单积分） + 专属活动积分。</div>
                <div class="line2"></div>
            </li>
            <li>
                <div class="lh">注册积分：首次注册登陆，即获500积分；首次绑定保单，即获200积分。</div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">标准积分：在积分更新日付费保单仍有效，即获200积分；该积分更新日为每月15日，遇节日则顺延。</div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">专属积分：参与XX会员中心专属活动所获积分。</div>
                <div class="line2"></div>

            </li>
            <li>
                <div class="lh">同一投保人证件号码下如有多份保单，积分合并计算。</div>
                <div class="line2"></div>
            </li>
            <li>
                <div class="lh">积分自获取之日超两年内有效，过期失效。</div>
                <div class="line2"></div>
            </li>
            <li>
                <div class="lh">通过非正常途径获得的积分无效。</div>
                <div class="line2"></div>

            </li>

            <li>
                <div class="fontC lh">以上最终解释权归XX人寿保险有限公司所有。</div>
            </li>
        </ul>


    </div>

</div>