<!--兑奖中心-->
<div class="score_lottery_detail">

    <!--大图-->
    <div class="sld_ItemIMG">
        <div class="scrollImg" id="scrollImg" style="">
            <ul>
                <li class="floatLeft" ng-repeat="item in renderData.imageUrl">
                    <img ng-src="{{item.url}}" alt="">
                </li>
            </ul>
        </div>

        <div class="points">
            <span class="point blue">.</span>
            <span class="point">.</span>
            <span class="point">.</span>
            <span class="point">.</span>
        </div>
    </div>

    <!--产品说明-->
    <div class="sld_ItemName" >
        <img ng-if="renderData.type=='1'" src="../img/tehui.png" alt="特惠">{{renderData.productName}}
    </div>
    <div class="sld_ItemCollection">
        <span class="blue"><span class="sld_fs14" style="">{{renderData.scoreValue}}</span> 积分</span>
    </div>


    <!--活动规则-->
    <div class="sld_rule_box">
        <div class="sld_rule">活动规则:</div>
        <ul class="blue">
            <li class="sld_rule_li"><div>每位会员每天可无限次抽奖</div></li>
            <li class="sld_rule_li"><div>奖品图片仅供参考，具体以实物为准</div></li>
            <li class="sld_rule_li"><div>XX人寿保险有限公司对本活动拥有最终结束权</div></li>
        </ul>


    </div>

    <!--产品详情-->
    <div class="sld_Product_tab">
        <div class="sld_product_detail_text" ng-click="showDetail=!showDetail;">
        	产品详情 
        	<img ng-show="showDetail" src="../img/moreUp.png" alt="">
        	<img ng-show="!showDetail" src="../img/moreDown.png" alt="">
        </div>
        <div class="sld_product_detail_content" ng-show="showDetail">{{renderData.detail}}</div>
    </div>


    <!--底栏-->
    <div class="sld_bottomTool">
        <div class="sld_addMyShopping" ng-click="showLottery();">立即抽奖</div>
    </div>

</div>
<style type="text/css">
	.sld_Product_tab{
		margin-bottom: 100px;
	}
</style>