<div>
    <div class="score_detail_main">

        <!--积分-->
        <div class="score_cs">
            <div class="score_cs_l">
                <div class="l1 center">可用积分</div>
                <div class="l1_num center">{{renderData.totalScore}}</div>
            </div>
            <div class="score_cs_m"></div>
            <div class="score_cs_r">
                <div class="r1 center">消费积分</div>
                <div class="r1_num center">{{renderData.expenseScore}}</div>
            </div>
        </div>

        <!--积分历史-->
        <div class="score_detail_history_holder">
            <div class="score_detail_history" ng-repeat="item in renderData.scoreMonthList">
                <div class="score_history_title" ng-click="showMonthDetail(item);">
                    <div ng-class="item.show ? 'score_detail_arrow_down' : 'score_detail_arrow'"></div>
                    <div class="score_detail_text blue">{{item.monthDate}}</div>
                    <div class="score_detail_line_holder">
                        <div class="score_detail_line"></div>
                    </div>
                </div>
                <ul class="score_detail_ul" ng-show="item.show">
                    <li ng-repeat="subItem in item.monthDetailList" ng-class="{'blue': subItem.scoreValue>0}"> {{subItem.recordDate}}
                        <div class="score_history_li_m">{{subItem.operateRemark}}</div>
                        <div class="score_history_li_r">{{subItem.scoreValue}}</div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
