<div class="score_market_main">

    <div class="SystemNormal">
        <!--横幅-->
        <div class="score_market_banner"></div>

        <div class="score_market_score_board">
            <!--积分说明-->
            <div class="score_market_address_set" ng-click="form.goPath('myScore');">
                <div class="score_market_arrow"></div>
                <div class="score_market_score_icon"></div>
                <div class="score_market_text"><span class="grey">积分: </span><span class="number blue">30000</span></div>
            </div>

            <!--导航-->
            <div class="score_market_nav">
                <div class="score_market_nav_item" ng-click="form.goPath('groupsToEarnPoints');">
                    <div class="score_market_nav_item_icon1"></div>
                    <div class="score_market_nav_item_text blue">赚积分</div>
                </div>
                <div class="score_market_nav_item" ng-click="form.goPath('groupsExchange');">
                    <div class="score_market_nav_item_icon2"></div>
                    <div class="score_market_nav_item_text blue">兑换中心</div>
                </div>
                <div class="score_market_nav_item" ng-click="form.goPath('scoreEcard');">
                    <div class="score_market_nav_item_icon3"></div>
                    <div class="score_market_nav_item_text blue">积分E卡</div>
                </div>
                <div class="score_market_nav_item" ng-click="form.goPath('scoreOrder');">
                    <div class="score_market_nav_item_icon4"></div>
                    <div class="score_market_nav_item_text blue">积分订单</div>
                </div>
            </div>

        </div>

        <div class="score_market_content">
            <!--小积分抽大奖-->
            <div class="score_market_little_score" ng-click="form.goPath('scoreLotteryList');">
                <div class="score_market_arrow"></div>
                <div class="score_market_little_score_text">小积分、抽大奖</div>
            </div>
            <div class="score_market_little_score_product" ng-click="form.goPath('scoreLotteryDetail');">
                <div class="score_market_little_score_product_img smlxp_l">
                    <div class="small_Font">
                        <span class="number">99</span><br/>
                        积分奖区
                    </div>
                </div>
                <div class="score_market_little_score_product_img smlxp_r" ng-click="form.goPath('scoreLotteryDetail');">
                    <div class="small_Font">
                        <span class="number">199</span><br/>
                        积分奖区
                    </div>
                </div>
            </div>

            <!--热门推荐-->
            <div class="score_market_little_score" ng-click="form.goPath('groupsExchange');">
                <div class="score_market_arrow"></div>
                <div class="score_market_little_score_text">热门推荐</div>
            </div>
            <div class="score_market_hot_product">
                <div class="score_market_hot_product_img smhp_img1" ng-click="form.goPath('groupsExchangeItem');">
                    <div class="small_Font">
                        <span class="number">月卡</span><br/>
                        爱奇艺VIP黄金会员
                    </div>
                </div>
                <div class="score_market_hot_product_img smhp_img2" ng-click="form.goPath('groupsExchangeItem');">
                    <div class="small_Font">
                        <span class="number">月卡</span><br/>
                        优酷土豆黄金会员
                    </div>
                </div>
                <div class="score_market_hot_product_img smhp_img3" ng-click="form.goPath('groupsExchangeItem');">
                    <div class="small_Font">
                        <span class="number">季卡</span><br/>
                        爱奇艺VIP黄金会员
                    </div>
                </div>
                <div class="score_market_hot_product_img smhp_img4" ng-click="form.goPath('groupsExchangeItem');">
                    <div class="small_Font">
                        <span class="number">季卡</span><br/>
                        优酷土豆黄金会员
                    </div>
                </div>

            </div>

            <!--积分天天赚-->
            <div class="score_market_little_score" ng-click="form.goPath('groupsToEarnPoints');">
                <div class="score_market_arrow"></div>
                <div class="score_market_little_score_text">积分天天赚</div>
            </div>
            <div class="score_market_little_score_product">
                <div class="score_market_little_score_product_img smlsp_l" ng-click="form.goPath('groupsToEarnPoints');">
                    <div class="small_Font">
                        <span class="number">签到有惊喜</span><br/>
                        天天有惊喜
                    </div>
                </div>
                <div class="score_market_little_score_product_img smlsp_r" ng-click="form.goPath('groupsToEarnPoints');">
                    <div class="small_Font">
                        <span class="number">感恩回馈</span><br/>
                        积分大放送
                    </div>
                </div>
            </div>

        </div>

        <!--发现问题-->
        <div class="score_market_question" ng-click="form.goPath('groupsProblems');">
            <div class="score_market_question_text">常见问题</div>
        </div>
    </div>


    <div class="SystemUpgrade">
        <img  class="" src="../img/SystemUpgrade.png" alt="">
        <div class="tips">系统升级中,请稍后再试。</div>
    </div>


</div>


