<div class="search">
    <div class="sh_input_contain">
        <div class="sh_input_c">
            <div class="sh_icon_search"></div>
            <div class="sh_input">
                <input type="text" placeholder="搜索" ng-model="form.searchKey"/>
            </div>
        </div>
        <div class="sh_cancel" ng-click="form.goPath('groupsExchange');">取消</div>
    </div>

    <div class="sh_history">
        <div class="sh_history_label">
            历史搜索
            <div class="sh_line"></div>
        </div>
        <div class="sh_history_items">
            <span>背包 男</span>
            <div class="sh_flag_item">
                户外
            </div>
            <div class="sh_flag_item">
                单肩
            </div>
            <div class="sh_line"></div>
        </div>
    </div>

</div>
