<div class="shoppingCart">
    <div class="sc_main">
        <div class="sc_con">
            <div class="sc_select_all" ng-click="changeChosenAll();">
                <div ng-class="isChosenAll?'sc_icon_default':''"></div>
                <div class="sc_label">全选</div>
            </div>
            <!--选择状态-->
            <div class="sc_edit" ng-show="shoppingCartType=='choose'" ng-click="changePageStatus('edit');">
                <div class="sc_icon_edit"></div>
                <div class="sc_edit_label">编辑</div>
            </div>
            <!--编辑状态-->
            <div class="sc_edit" ng-show="shoppingCartType=='edit'" ng-click="changePageStatus('choose');">
                <div class="sc_icon_edit"></div>
                <div class="sc_edit_label">完成</div>
            </div>
        </div>
        <div class="sc_items" ng-repeat="item in renderData">
            <div class="sc_items_select">
                <div ng-class="item.isChosen ? 'sc_items_selected' : 'sc_items_unselected'" ng-if="item.status!='1'||shoppingCartType=='edit'" ng-click="changeChosen(item);"></div>
            </div>
            <div class="sc_items_content">
                <div class="sc_items_id">编号：{{item.productCode+(item.type=='1'?'(特惠)':'')}}</div>
                <div class="sc_items_line"></div>
                <div class="sc_items_c">
                    <div class="sc_items_img">
                        <img ng-src="{{item.imageUrl}}"/>
                      	<!--下架提示-->
                        <div class="tips" ng-if="item.status=='1'">已下架</div>
                        <!--下架提示-->

                    </div>
                    <div class="sc_detail">
                        <div class="sc_title">{{item.productName}}</div>

                        <div class="sc_d">
                            <div class="sc_score"><span class="blue number">{{item.scoreValue}}</span> <span class="grey">积分</span></div>
                        </div>

                        <!--增加 删减-->
                        <div class="sc_items_con" ng-if="item.status!='1'&&shoppingCartType=='choose'">
                            <div class="sc_con_increase" ng-click="addCount(item);">+</div>
                            <div class="sc_con_num blue">{{item.num}}</div>
                            <div class="sc_con_decrease" ng-click="delCount(item);">-</div>

                        </div>
                        <!--增加 删减-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sc_end">
        <!--选择状态-->
        <div class="sc_end_edit" ng-show="shoppingCartType=='choose'">
            <div class="sc_end_edit_l">
                合计：<span>{{totalScore}}</span>积分
            </div>
            <div class="sc_end_edit_r" ng-click="toPayPath();">
                去结算
            </div>
        </div>
        <!--编辑状态-->
        <div class="sc_end_edit" ng-show="shoppingCartType=='edit'">
            <div class="sc_end_edit_l1">
                已选中<span>{{selectedCount}}</span>项
            </div>
            <div class="sc_end_edit_m1" ng-click="deleteProduct();">
                <div class="sc_end_del_icon"></div>
                <div class="sc_end_del">删除</div>
            </div>
            <div class="sc_end_edit_r1" ng-click="changePageStatus('choose');">
                完 成
            </div>
        </div>
    </div>
</div>
