.addressManager {

}

.addressManager .NoAddress{
    position: absolute;
    width: 30%;
    left: 35%;
    top: 34%;
    text-align: center;
}

.addressManager .NoAddress .font{
    font-size: 1.5em;
    color: #666666;
}

/*删除地址弹窗*/
.addressManager .popup_delete {
display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    z-index: 10;
}

.addressManager .popup_delete .popup_main{
    position: relative;
    margin-left: 15%;
    width: 70%;
    height: 22%;
    background-color: white;
    border-radius: 8px;
    margin-top: 50%;
}

.addressManager .popup_delete .popup_main .popup_msg{
    position: absolute;
    top:26%;
    width: 100%;
    text-align: center;
    font-size: 1.8em;

}
.addressManager .popup_delete .popup_main .line{
    position: absolute;
    top:63%;
    width: 90%;
    height: 1px;
    margin-left: 5%;
    background-color: #e1e1e1;
}
.addressManager .popup_delete .popup_main .vline{
    position: absolute;
    top:70%;
    width: 1px;
    height: 24%;
    left: 50%;
    background-color: #e1e1e1;
}
.addressManager .popup_delete .popup_main .left_btn{
    position: absolute;
    top:70%;
    left: 14%;
    font-size: 2em;
    letter-spacing: 15px;

}
.addressManager .popup_delete .popup_main .right_btn{
    position: absolute;
    top:70%;
    right: 9%;
    font-size: 2em;
    letter-spacing: 15px;


}
/*删除地址弹窗*/



.am_item {
    background: #ffffff;
    width: 100%;
    padding: 4% 4% 0;
    margin-bottom: 4%;
}

.am_contact {
    font-size: 1.5em;
}

.am_mobile {
    margin-left: 4%;
}

.am_address {
    margin-top: 2%;
    font-size: 1.4em;
    word-break: keep-all;
}

.am_line {
    width: 100%;
    margin: 3% auto 0;
    height: 1px;
    background: #f3f3f3;
}

.am_con {
    position: relative;
    margin-top: 3%;
    font-size: 1.3em;
    overflow: hidden;
    padding-bottom: 3%;
}

.am_default {
    float: left;
    width: 50%;
    overflow: hidden;
}

.am_icon_none_select {
    float: left;
    width: 13%;
    height: 0;
    padding-bottom: 13%;
    border-radius: 50%;
    border: 1px solid #666666;
}

.am_icon_default {
    float: left;
    width: 13%;
    height: 0;
    padding-bottom: 13%;
    background: url("../img/gouxuan.png") no-repeat;
    background-size: 100% auto;
    border-radius: 50%;
}

.am_label {
    float: left;
    margin-left: 4%;
    line-height: 180%;
}

.am_edit {
    position: absolute;
    top: 0;
    right: 20%;
    width: 20%;
}

.am_icon_edit {
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 32%;
    background: url("../img/edit.png") no-repeat;
    background-size: 100% auto;
}

.am_edit_label {
    float: left;
    margin-left: 10%;
    line-height: 180%;
}

.am_del {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
}

.am_icon_del {
    float: left;
    width: 25%;
    height: 0;
    padding-bottom: 32%;
    background: url("../img/del.png") no-repeat;
    background-size: 100% auto;
}

.am_del_label {
    float: left;
    margin-left: 10%;
    line-height: 180%;
}

.am_end {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 14%;
    background: #ffffff;
}

.am_border {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
    border: 1px solid #0582c8;
    border-radius: 25px;
    text-align: center;
    color: #0582c8;
    line-height: 200%;
    font-size: 1.8em;
}

.am_no_address {
    padding-top: 50%;
    text-align: center;
}

.am_no_address img {
    width: 20%;
}

.am_no_w {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}