
.addressEdit{
    padding-bottom: 5%;
    background-color: white;
}

.addressEdit .errorTips{
    color: #e00000;
    padding: 2% 0 0% 30%;
    font-size: 1.2em;
}

.ae_items{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 12%;
}
.ae_label{
    top: 15%;
    position: absolute;
    width: 23%;
    left: 4%;
    font-size: 1.35em;
    line-height: 260%;
}
.ae_input{
    position: absolute;
    top: 17%;
    width: 70%;
    left: 26%;
}
.ae_input input{
    outline: none;
    border: none;
    width: 100%;
    background: none;
    padding: 2% 0;
    font-size: 1.4em;
}
.ae_line{
    position: absolute;
    width: 70%;
    left: 26%;
    bottom: 0;
    height: 1px;
    background: #d7d7d7;
}
.ae_end{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 14%;
    background: #ffffff;
}
.ae_end_line{
    width: 100%;
    height: 1px;
    top:0;
    background: #d7d7d7;

}
.ae_border{
    position: absolute;
    width: 90%;
    height: 70%;
    top:15%;
    left:5%;
    border: 1px solid #0582c8;
    border-radius: 25px;
    text-align: center;
    color: #0582c8;
    line-height: 200%;
    font-size: 1.8em;
    letter-spacing: 10px;
}