body {
    padding: 0;
    margin: 0;
    color: #4a4a4a;
    background: #f3f3f3;
}

* {
    box-sizing: border-box;
}

.bgBlue{
    background-color: #0582c8;
}

.blue {
    color: #0582c8;
}

.red {
    color: #e6000F;
}


.bgGrey{
    background-color: #666666;
}

.grey {
    color: #666666;
}


.blue2 {
    color: #2c97cd;
}

.titleGrey {
    color: #4a4a4a;

}

.textRight {
    text-align: right;
}

.listPadding {
    padding: 15px 0;
}

.titleFontSize{
    font-size: 1.2em;
}