
.fill_order {

}

/*用户信息*/

.fill_order .userInfo {
    background-color: white;
    padding: 4% 4% 18%;
}

.fill_order .userInfo .UserName {
    font-size: 1.5em;

}

.fill_order .userInfo .UserPhone {
    margin-left: 4%;
    font-size: 1.5em;
}

.fill_order .userInfo .UserLabel {
    margin-left: 4%;
    width: 30%;
    font-size: 1.2em;
    margin-top: 1%;

}

.fill_order .userInfo .UserLabel span {
    border: 1px solid #0582c8;
    color: #0582c8;
    border-radius: 10px;
    padding: 0 8%;
}

.fill_order .userInfo .UserAddress {
    margin-top: 3%;
    width: 100%;
    font-size: 1.3em;
    color: #666666;
}

.fill_order .userInfo .UserAddress .Address1 {
}

.fill_order .userInfo .UserAddress .Address2 {
    margin-left: 10px;

}

/*用户信息*/

/*物品信息*/
.fill_order .items {
    padding-bottom: 45px;
}

.fill_order .itemInfo {
    margin-top: 10px;
    width: 100%;
    padding: 4% 0 4% 0%;
    background-color: white;

}

.fill_order .itemInfo .top {
    padding-left: 4%;
}

.fill_order .itemInfo .itemCode {
    padding: 0 0 3%;
    font-size: 1.3em;
    color: #666666;

}

.fill_order .line {
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;

}

.fill_order .itemInfo .detailed_information {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.fill_order .itemInfo .detailed_information .item_L {
    width: 25%;
    margin-top: 4%;

}

.fill_order .itemInfo .detailed_information .item_R {
    padding: 0% 5% 15%;
    width: 75%;
    margin-top: 4%;
    position: relative;
}

.fill_order .itemInfo .ItemName {
    font-size: 1.2em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fill_order .itemInfo .itemIntegral {
    position: absolute;
    top: 70%;
    left: 7%;
}

.fill_order .itemInfo .itemIntegral span {
    font-size: 1.5em;
}

.fill_order .itemInfo .numberCtrl {
    width: 40%;
    position: absolute;
    top: 65%;
    right: 5%;
    font-size: 1.3em;
}

.fill_order .itemInfo .numberCtrl .numberReduction {
    float: left;
    padding: 2% 12%;
    border: 1px solid #cccccc;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.fill_order .itemInfo .numberCtrl .number {
    float: left;
    padding: 2% 12%;
    border: 1px solid #cccccc;

}

.fill_order .itemInfo .numberCtrl .numberAdd {
    float: left;
    padding: 2% 12%;
    border: 1px solid #cccccc;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.fill_order .itemInfo .bottom {
    margin-top: 4%;
    text-align: right;
    font-size: 1.4em;
    margin-right: 4%;
    color: #666666;
}

.fill_order .itemInfo .bottom span {
    font-weight: 400;
    font-size: 1.2em;
}

/*物品信息*/

/*立即兑换*/
.fill_order .exchange_button {
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 40px;
    background-color: #0582c8;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 40px;

}

/*立即兑换*/

/*付款详情*/
.fill_order .popupPay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.38);
    z-index: 11;
}

.fill_order .popupPay .PayMain {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    /*height: 43%;*/
    padding: 4%;
    background-color: white;
}

.fill_order .popupPay .PayMain .l1 {
    padding: 3% 0;
    text-align: center;
    font-size: 1.4em;
    color: #666666;
}

.fill_order .popupPay .PayMain .l2 {
    padding: 0% 0 12%;
    font-size: 1.4em;
    color: #666666;
    line-height: 2.9em;
}

.fill_order .popupPay .PayMain .l3 {
    padding: 0% 0 12%;
    font-size: 1.4em;
    color: #666666;
    line-height: 2.9em;
}

.fill_order .popupPay .PayMain .l4 {
    padding: 0% 0 12%;
    font-size: 1.4em;
    color: #666666;
    line-height: 2.9em;
}

.fill_order .popupPay .PayMain .l5 {
    padding: 0% 0 12%;
    font-size: 1.4em;
    color: #666666;
    line-height: 2.9em;
}
.fill_order .popupPay .PayMain .l5 .Code{
   width: 50%;
}

.fill_order .popupPay .PayMain .l5 .input_Code{
    width:100%;
    height: 100%;
    font-size: 0.9em;
    padding-left: 10%;
    border: 0;
    outline: none;
    color: #666666;
}

.fill_order .popupPay .PayMain .l5 .codeImg{
    margin-top: 1%;
    width:20%;
    padding-bottom: 10%;
    height: 0;
    position: relative;
}

.fill_order .popupPay .PayMain .l5 .codeImg img{

    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.fill_order .popupPay .PayMain .errorTips{
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    color: red;
    line-height: 1.5em;
}

.fill_order .payButton {
    margin-top: 3%;
    width: 100%;
    border-radius: 20px;
    background-color: #0582c8;
    color: white;
    text-align: center;
    font-size: 1.6em;
    padding: 3% 0;
}

/*付款详情*/