.groupsA_exchange_item {
    font-size: 1.4em;
}

.groupsA_exchange_item .fs14 {
    font-weight: bold;
    font-size: 1.38em;
}

.groupsA_exchange_item .ml2p {
    margin-left: 2%;
}

.groupsA_exchange_item .floatLeft {
    float: left;
}

/*轮播图*/
.groupsA_exchange_item .ItemIMG {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.groupsA_exchange_item .scrollImg {
    overflow-x: auto;
    padding-bottom: 100%;

}

.groupsA_exchange_item .scrollImg ul {
    padding: 0;
    width: 400%;
}

.groupsA_exchange_item .scrollImg li {
    list-style: none;
    width: 25%;
}

.groupsA_exchange_item .scrollImg li img{
    width:100%
}

.groupsA_exchange_item .ItemIMG .points {
    overflow-x: auto;
    position: absolute;
    top: 87%;
    width: 100%;
    text-align: center;

}

.groupsA_exchange_item .ItemIMG .points .point {
    font-size: 2em;

}

/*轮播图*/

.groupsA_exchange_item .ItemName {
    background-color: white;
    padding: 4% 4%;

}

.groupsA_exchange_item .ItemName img {
    padding-top: 5px;

}

.groupsA_exchange_item .ItemName .name {
    margin-right: 5px;
    line-height: 18px;
    font-size: 0.95em;
}

.groupsA_exchange_item .ItemName span {

}

.groupsA_exchange_item .ItemCollection {
    background-color: white;
    padding: 0% 4% 4%;
}

.groupsA_exchange_item .ItemCollection .t1 {
    position: relative;
    padding: 0% 0% 7%;
}

.groupsA_exchange_item .ItemCollection .t1 .right {
    right: 2%;
    top: 0;
    position: absolute;

}

.groupsA_exchange_item .ItemCollection .collectIcon {
    width: 22%;
    margin-top: 10%;
}

.groupsA_exchange_item .ItemCollection .collectIconFont {
    margin-left: 5%;
    margin-top: 8%;
    font-size: 1em;

}

.groupsA_exchange_item .line {
    margin-top: 5px;
    height: 1px;
    border: 0;
    background-color: #F7F7F7;
}

.groupsA_exchange_item .itemNumber .blueBox1 {
    margin-top: 1%;
    border: 1px solid #cccccc;
    border-right: 0px;
    padding: 0% 3%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.groupsA_exchange_item .itemNumber .blueBox2 {
    margin-top: 1%;
    border: 1px solid #cccccc;
    padding: 0% 3%;
}

.groupsA_exchange_item .itemNumber .blueBox3 {
    margin-top: 1%;
    border: 1px solid #cccccc;
    border-left: 0px;
    padding: 0% 3%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.groupsA_exchange_item .ItemCollection .number {
    /*margin-left: 3%;*/
}

.groupsA_exchange_item .itemCode {
    margin-top: 10px;
    padding: 4% 4% 0;
    background-color: white;
    font-size: 0.95em;
}

.groupsA_exchange_item .itemColor {
    padding: 3.2% 4% 0;
    background-color: white;
    font-size: 0.95em;


}

.groupsA_exchange_item .itemNumber {
    padding: 2% 4% 12%;
    background-color: white;
    font-size: 0.95em;

}

.groupsA_exchange_item .Product_tab {
    margin-top: 2%;
    padding: 2% 4% 7%;
    background-color: white;
    border-bottom: 1px solid #F7F7F7;
}

.groupsA_exchange_item .ItemInfo {
    width: 100%;
    background-color: white;
}

.groupsA_exchange_item .ItemInfo img {
    width: 100%;
    display: block;
}

.groupsA_exchange_item .bottom {
    padding-bottom: 15%;
    background-color: white;
}

/*底部栏*/
.groupsA_exchange_item .bottomTool {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.95%;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}

.groupsA_exchange_item .bottomTool .myShopping {
    position: absolute;
    top: 24%;
    left: 3%;
    font-size: 0.9em;
    width: 30%;
}

.groupsA_exchange_item .bottomTool .myShopping .myShoppingIcon {
    width: 25%;
}

.groupsA_exchange_item .bottomTool .myShoppingFont {
    font-size: 1.35em;
    font-weight: 200;
    margin-top: -2%;
}

.groupsA_exchange_item .bottomTool .myShoppingNum {
    position: absolute;
    top: 5%;
    left: 8%;
    background-color: red;
    border-radius: 20px;
    color: white;
    z-index: 10;
    /*padding: 0 1.35%;*/
    width: 4.534%;
    text-align: center;
    font-size: 0.81em;
}

.groupsA_exchange_item .bottomTool .addMyShopping {
    position: absolute;
    top: 20%;
    left: 39%;
    color: #0087E6;
    font-weight: 200;
    font-size: 1.25em;


}

.groupsA_exchange_item .bottomTool .Settlement {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 32%;
    padding-top: 2.2%;
    text-align: center;
    background-color: #0087E6;
    color: white;
    font-weight: 200;
    font-size: 1.25em;

    /*line-height: 3.1em;*/
}

.groupsA_exchange_item .bottomTool .verticalLine {
    position: absolute;
    top: 20%;
    left: 35%;
    height: 60%;
    width: 1px;
    background-color: #e6e6e6;
}

/*底部栏*/
