
.groupsA_To_earn_points{
    font-size: 1.4em;
}

/*提示弹窗*/

.groupsA_To_earn_points .popup_msg {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    z-index: 10;
}

.groupsA_To_earn_points .popup_msg .popup_main{
    position: relative;
    margin-left: 15%;
    width: 70%;
    height: 22%;
    background-color: white;
    border-radius: 8px;
    margin-top: 50%;
    font-size: 0.8em;
}

.groupsA_To_earn_points .popup_msg .popup_main .msg{
    position: absolute;
    top:18%;
    width: 100%;
    text-align: center;
    font-size: 1.4em;

}
.groupsA_To_earn_points .popup_msg .popup_main .line{
    position: absolute;
    top:63%;
    width: 90%;
    height: 1px;
    margin-left: 5%;
    background-color: #e1e1e1;
}
.groupsA_To_earn_points .popup_msg .popup_main .vline{
    position: absolute;
    top:70%;
    width: 1px;
    height: 24%;
    left: 50%;
    background-color: #e1e1e1;
}
.groupsA_To_earn_points .popup_msg .popup_main .left_btn{
    position: absolute;
    top:70%;
    left: 20%;
    font-size: 1.8em;

}
.groupsA_To_earn_points .popup_msg .popup_main .right_btn{
    position: absolute;
    top:70%;
    right: 20%;
    font-size: 1.8em;


}

/*提示弹窗*/


.fblue {
    color: #0582c8;
}

.fgray{
    color: #666666
}

.tools {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #f3f3f3;
}

.tools .tool {
    margin-top: 1px;
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    height: 0;
    background-color: #ffffff;
    border-right: 1px solid #e8e7e7;
    border-bottom: 1px solid #e8e7e7;
}

.tools .tool .toolImg {
    /*position: absolute;*/
    height: 0;
    padding-bottom: 52%;
    width: 100%;
    /*top: 0;*/
    /*left:0;*/
}

.tools .tool .toolImg img {
    position: absolute;
    top: 20%;
    width: 28%;
    left: 36%;
}

.tools .tool .name {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;

}

.tools .tool .NeedPoints {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

.tools .tips {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 1px 8px;
}
