
.score_detail_main {
    width: 100%;
    margin-bottom: 15%;
}

.score_av, .score_cs {
    padding: 6% 5% 6% 5%;
    box-sizing: border-box;
}

/*积分*/
.score_av {
    background-color: white;
}

.score_av_title {
    font-size: 1.6em;
}

.score_av_text {
    width: 100%;
    text-align: center;
    height: 3em;
    line-height: 3em;
    font-size: 4em;
}

.score_cs {
    margin-top: 1px;
    background-color: white;
    font-size: 1.6em;
    height: 6em;
    margin-bottom: 4%;
}

.score_cs_l {
    width: 49%;
    float: left;
}

.score_cs_m {
    float: left;
    width: 1%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #cacaca;
}

.score_cs_r {
    width: 50%;
    float: right;
}

.score_cs div {
    /*height: 3em;*/
    /*line-height: 3em;*/
    /*float: left;*/
}

.score_cs_title {
    display: inline-block;
}

.score_cs_num {
    display: inline-block;
    margin-left: 10%;
}

.score_detail_main .center {
    text-align: center;
}

.score_detail_main .l1, .score_detail_main .r1 {
    font-size: 0.9em;
}

.score_detail_main .l1_num, .score_detail_main .r1_num {
    margin-top: 5%;
    font-size: 1.6em;
}

.av_title {
    margin-left: 5%;
}

/*积分历史*/
.score_detail_history_holder {
    padding: 5% 5%;
    background-color: white;
}

.score_detail_history {
    padding: 1% 0%;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #eaeaea;

}

.score_history_title {
    position: relative;
    background: #ffffff;
    width: 100%;
    height: 3em;
}

.score_detail_score_icon {
    position: absolute;
    width: 4%;
    left: 2%;
    height: 100%;
    top: 0;
    background: url("../img/tab_more_btn.png") no-repeat center;
    background-size: 100% auto;
}

.score_detail_arrow {
    position: absolute;
    width: 3%;
    right: 2%;
    height: 100%;
    top: 0;
    background: url("../img/tab_more_btn.png") no-repeat center;
    background-size: 85%;
}

.score_detail_arrow_down {
    position: absolute;
    width: 4.5%;
    right: 2%;
    height: 100%;
    top: 0;
    background: url("../img/moreDown.png") no-repeat center;
    background-size: 90%;
}

.score_detail_text {
    position: absolute;
    width: 50%;
    height: 3em;
    top: 10%;
    line-height: 2.2em;
    background-size: 100% auto;
    font-size: 1.4em;
}

.score_detail_line_holder {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.score_detail_line {
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #0582c8;

}

.score_detail_ul, .score_detail_ul div {
    font-size: 1.2em;
}

.score_history_li_m {
    margin-left: 3%;
    display: inline-block;
}

.score_history_li_r {
    float: right;
    display: inline-block;
}

.score_detail_history li {
    line-height: 200%;
}
