/*输入框*/
.e_card_edit {
    padding: 3% 3%;
}

.e_card_title {
    margin-top: 0.5em;
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
}

.e_card_input {
    outline: none;
    width: 100%;
    border: none;
    height: 3em;
    font-size: 1.2em;
    line-height: 3em;
    margin-bottom: 1px;
}

.e_card_tips {
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    line-height: 2em;
    color: #e82b12;
}

.e_card_code_holder {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.e_card_code {
    height: 55%;
    position: absolute;
    right: 2%;
    top: 27%;
    width: 15%;
}

/*按钮*/
.e_card_end {
    width: 100%;
    padding-bottom: 14%;
    background: #ffffff;
}

.e_card_end_line {
    width: 100%;
    height: 1px;
    top: 0;
    background: #d7d7d7;

}

.e_card_border {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    background-color: #0582c8;
    border-radius: 25px;
    text-align: center;
    color: white;
    line-height: 300%;
    font-size: 1.4em;
}